html {
  height: 100%;
}

body {
  background: url("./src/background.png");
  padding: 40px;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  .col {
    min-width: 350px;
    flex: 0 1 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

// 仅供手机格式显示
@media only screen and (max-width: 800px) {
  .phone {
    display: block !important;
  }

  .pc {
    display: none !important;
  }

  .col.content {
    margin: 80px auto;
  }

  .wrapper {
    padding-top: 15vh;
  }
}

// 仅供PC格式显示
@media only screen and (min-width: 801px) {
  .phone {
    display: none !important;
  }

  .pc {
    display: block !important;
  }

}

.wrapper {
  text-align: center;
}

.frame {
  display: block;
  margin: 20px auto;
  overflow: hidden;
}

img.phoneImg {
  display: block;
  width: 320px;
  margin: auto;
}

.title.phone {
  font-size: 38px;
}

.title {
  @height: 50px;
  line-height: @height;
  font-size: 44px;
  vertical-align: top;
  margin-bottom: 50px;

  img {
    height: @height - 8px;
    vertical-align: middle;
  }
}

.slogen {
  font-size: 24px;
  margin-bottom: 80px;
}

.divider {
  margin-bottom: 34px;
  color: #5a5a5a;

  .text {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 140px;
      height: 2px;
      background-color: #b5b5b5;
      top: 50%;
    }

    &::before {
      left: 120%;
    }

    &::after {
      right: 120%;
    }
  }
}

.btn {
  position: relative;
  z-index: 9;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 6px;
  font-weight: 700;
  font-size: 22px;
  margin: 0 auto;
  background: rgba(231, 37, 32, .7);
  color: rgb(255, 255, 255);
  text-decoration: none;
}

img.code {
  display: block;
  margin: auto;
  width: 240px;
}

footer {
  text-align: center;
  color: #959595;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  // margin: 20px auto 40px;
  font-size: 14px;
}