<template>
  <a-modal
    :title="addOrEdit === 'add' ? '添加内容' : '修改内容'"
    :width="860"
    :visible="visible"
    :confirmLoading="confirmLoading"
    :closable="true"
    :maskClosable="false"
    @cancel="handleCancel"
    destroyOnClose
  >
    <a-spin :spinning="confirmLoading">
      <a-steps
        :current="currentStep"
        :style="{ marginBottom: '28px' }"
        size="small"
      >
        <a-step title="填写内容信息" />
        <a-step title="确认信息并完成" />
      </a-steps>
      <!-- step1 -->
      <div v-show="currentStep === 0">
        <a-form :form="form">
          <CFormItem
            v-for="(fieldDesc, field) in fieldsMap"
            :fieldDesc="fieldDesc"
            :field="field"
            :key="field"
          />
        </a-form>
      </div>
      <!-- step2 -->
      <div v-show="currentStep === 1" v-if="confirmData.name">
        <DetailList :fieldsMap="fieldsMap" :detail="confirmData">
          <template v-slot:status="status">
            {{ status? "已发布" : "未发布"
          }}</template></DetailList
        >
      </div>
    </a-spin>
    <template slot="footer">
      <a-button
        key="back"
        @click="backward"
        v-if="currentStep > 0"
        :style="{ float: 'left' }"
        >上一步</a-button
      >
      <a-button key="cancel" @click="handleCancel">取消</a-button>
      <a-button
        key="forward"
        :loading="confirmLoading"
        type="primary"
        @click="handleNext(currentStep)"
        >{{ (currentStep === 1 && "完成") || "下一步" }}</a-button
      >
    </template>
  </a-modal>
</template>

<script>
import moment from "moment";
import { createCategory } from "@/api/contentCategory";
import CFormItem from "@/components/CFormItem";
import DetailList from "@/components/DetailList";

export default {
  name: "CreateChannel",
  components: { CFormItem, DetailList },
  data() {
    return {
      addOrEdit: "add",
      // options,
      fieldsMap: {
        name: {
          label: "名称",
          type: "text",
          options: { rules: [{ required: true }], initialValue: undefined }
        },
        status: {
          label: "状态",
          type: "switch",
          options: { rules: [{ required: true }], initialValue: false },
          detailSlot: "status"
        }
      },
      // 展示
      visible: false,
      confirmLoading: false,
      currentStep: 0,
      form: this.$form.createForm(this),
      detail: {},
      // 确认数据
      confirmData: {}
    };
  },
  created() {},
  methods: {
    /* ---------- 操作 ---------- */
    add() {
      this.addOrEdit = "add";
      this.visible = true;
      this.form.resetFields();
    },
    /* ---------- 操作 ---------- */
    handleNext(step) {
      const {
        form: { validateFields }
      } = this;
      const currentStep = step + 1;
      if (currentStep <= 1) {
        validateFields((errors, values) => {
          if (!errors) {
            this.currentStep = currentStep;
            this.confirmData = {
              ...values
            };
          }
        });
        return;
      }
      // last step
      this.lastStep();
    },
    lastStep() {
      const {
        form: { validateFields }
      } = this;
      validateFields((errors, values) => {
        this.confirmLoading = true;
        if (!errors) {
          const sendData = {
            is_modify: this.addOrEdit === "edit",
            id: this.detail.id || 0,
            ...values,
            status: +values.status
          };
          // console.log(sendData);

          // 确认发送数据
          createCategory(sendData).then(res => {
            // console.log(res);
            if (res.status != 0) {
              this.$message.error(res.msg || "操作失败，请稍后重试！", 10);
            } else {
              this.$emit("ok", sendData);
              this.$message.success("操作成功！");
              this.handleCancel();
            }
            this.confirmLoading = false;
          });
        } else {
          this.confirmLoading = false;
        }
      });
    },
    /* ---------- 标准流程 ---------- */
    backward() {
      this.currentStep--;
    },
    handleCancel() {
      // clear form & currentStep
      this.visible = false;
      this.currentStep = 0;
    }
  }
};
</script>
