<template>
  <!-- 内容分类中的内容列表 -->
  <a-card :bordered="false">
    <div class="table-page-search-wrapper">
      <div class="title">
        内容分类：
        <span class="title">{{ categoryName }}</span>
      </div>
      <SearchForm
        :queryField="queryField"
        :queryParam="queryParam"
        @queryFilter="queryFilter"
        @clearQuery="clearQuery"
      ></SearchForm>
    </div>

    <a-table
      ref="table"
      :rowKey="row => row.id"
      :columns="columns"
      :dataSource="loadData"
      :pagination="pagination"
      :loading="loading"
      @change="tableChange"
    >
      <template v-slot:router-link="title, row">
        <router-link :to="{name:'contentDetail',params:{id:row.id}}">{{ title }}</router-link>
      </template>
      <template v-slot:rowIndex="text, recode, index">{{ index }}</template>
      <template v-slot:keywords="keywords">{{
        keywords.join("，") | isEmpty
      }}</template>
      <template v-slot:breakWords="string">
        <span class="breakWords" style>{{ string }}</span>
      </template>
      <template v-slot:image="src">
        <div class="image" style="overflow:hidden">
          <img :src="src" />
        </div>
      </template>
      <template v-slot:date="timeStamp">{{ timeStamp | formatDate }}</template>
      <template v-slot:type="type">{{
        readFromList(type, map.typeMap)
      }}</template>
      <template v-slot:operation="_, row">
        <a-button type="danger" @click="remove(row.id)">取消分类</a-button>
      </template>
    </a-table>
  </a-card>
</template>

<script>
import { removeContentCategory } from "@/api/contentCategory";
import { getContentsList, getContentsMap } from "@/api/contents";
import SearchForm from "@/components/SearchForm";
import { formatDate, readFromList } from "@/utils/common";

export default {
  name: "contentCategoryDetail",
  components: { SearchForm },
  data() {
    return {
      categoryName: "",
      queryField: {
        title: {
          label: "内容标题"
        },
        keywords: {
          label: "关键词"
        }
      },
      // 查询参数
      queryParam: {},
      // 分页参数
      listParam: {
        page: 1,
        pageSize: 20
      },
      pagination: { pageSize: 20, total: 0 },
      // 表格
      columns: [
        {
          title: "内容排序",
          dataIndex: "index",
          scopedSlots: { customRender: "rowIndex" }
        },
        {
          title: "内容ID",
          dataIndex: "id",
          scopedSlots: { customRender: "breakWords" }
        },
        {
          title: "内容名称",
          dataIndex: "title",
          scopedSlots: { customRender: "router-link" }
        },
        {
          title: "海报",
          dataIndex: "vImage",
          scopedSlots: { customRender: "image" }
        },
        {
          title: "类型",
          dataIndex: "type",
          scopedSlots: { customRender: "type" }
        },
        {
          title: "关键词",
          dataIndex: "keywords",
          scopedSlots: { customRender: "keywords" }
        },
        {
          title: "发布时间",
          dataIndex: "publishTime",
        },
        {
          title: "入库时间",
          dataIndex: "addTime",
          scopedSlots: { customRender: "date" }
        },
        {
          title: "操作",
          dataIndex: "operation",
          scopedSlots: { customRender: "operation" }
        }
      ],
      loadData: [],
      // loading
      loading: false,
      map: {}
    };
  },
  created() {
    if (!this.$route?.params?.id) {
      this.$error({
        title: "没有获取到分类ID",
        content: "即将跳转到内容分类列表"
      });
      this.$router.push({ name: "contentCategory" });
      return;
    }
    this.getMaps();
    // this.fetch();
  },
  methods: {
    /* ---------- 获取数据/后端搜索/分页 ---------- */
    fetch() {
      this.loading = true;
      getContentsList(
        Object.assign(
          { category_id: this.$route.params.id },
          this.listParam,
          this.queryParam
        )
      ).then(res => {
        this.categoryName = res.name;
        this.loadData = res.pageBean.list;
        this.pagination.total = res.pageBean.allRow;
        this.loading = false;
      });
    },
    /* ---------- 获取映射表 ---------- */
    getMaps() {
      getContentsMap(["type"]).then(map => {
        this.map = map;
      });
    },
    /* ---------- 操作 ---------- */
    remove(docId) {
      removeContentCategory({
        id: this.$route.params.id,
        docId
      }).then(res => {
        if (res.status == 0) {
          this.$message.success("删除成功");
        } else {
          this.$message.error("删除失败，请稍后重试");
        }
        this.fetch();
      });
    },
    /* ---------- 标准流程 ---------- */
    // 使用映射表
    readFromList,
    // 搜索逻辑：
    queryFilter(queryData) {
      this.listParam.page = 1;
      if (queryData) {
        this.queryParam = queryData;
      }
      this.fetch();
    },
    // 清空搜索
    clearQuery() {
      this.queryParam = {};
      this.fetch();
    },
    // 后端分页逻辑
    tableChange(pagination, filters, sorter) {
      // console.log({ pagination, filters, sorter });
      if (pagination.current !== this.listParam.page) {
        this.listParam = {
          page: pagination.current,
          pageSize: pagination.pageSize
        };
        this.fetch();
      }
    },
    // 处理弹窗提交后关闭的数据刷新
    handleOk() {
      this.fetch();
    }
  },
  filters: {
    formatDate,
    isEmpty: v => {
      return v ? v : "<空>";
    }
  }
};
</script>

<style lang="less" scoped>
.image {
  display: inline-block;
  max-width: 200px;
  img {
    display: block;
    width: 100%;
  }
}

.title {
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
</style>
