<template>
  <!-- 内容分类列表 -->
  <a-card :bordered="false">
    <div class="table-page-search-wrapper">
      <SearchForm
        :queryField="queryField"
        :queryParam="queryParam"
        @queryFilter="queryFilter"
        @clearQuery="clearQuery"
      ></SearchForm>
    </div>

    <div class="table-operator">
      <a-button type="primary" icon="plus" @click="$refs.createModal.add()"
        >添加内容分类</a-button
      >
    </div>

    <a-table
      ref="table"
      :rowKey="row => row.id"
      :columns="columns"
      :dataSource="loadData"
      :pagination="pagination"
      :loading="loading"
      @change="tableChange"
    >
      <template v-slot:name="name, row">
        <router-link
          :to="{ name: 'contentCategoryDetail', params: { id: row.id } }"
          >{{ name }}</router-link
        >
      </template>
      <template v-slot:status="status">{{ statusMap[status].text }}</template>
      <template v-slot:operation="_, row">
        <a-button
          type="primary"
          v-if="row.status === 0"
          @click="updateStatus(row.id, 'online')"
          >发布</a-button
        >
        <a-button v-else @click="updateStatus(row.id, 'offline')"
          >下线</a-button
        >
        <a-button type="danger" @click="updateStatus(row.id, 'remove')"
          >删除</a-button
        >
      </template>
    </a-table>

    <CreateCategory ref="createModal" @ok="handleOk" />
  </a-card>
</template>

<script>
import {
  getContentCategoriesList,
  updateContentCategoryState,
  createCategory
} from "@/api/contentCategory";
import SearchForm from "@/components/SearchForm";
import { formatDate, readFromList } from "@/utils/common";
import CreateCategory from "./CreateCategory";

export default {
  name: "contentCategory",
  components: { SearchForm, CreateCategory },
  data() {
    return {
      queryField: {
        name: {
          label: "内容分类"
        }
      },
      // 查询参数
      queryParam: {},
      // 分页参数
      listParam: {
        page: 1,
        pageSize: 20
      },
      pagination: { pageSize: 20, total: 0 },
      // 表格
      columns: [
        {
          title: "ID",
          dataIndex: "id"
        },
        {
          title: "内容分类名称",
          dataIndex: "name",
          scopedSlots: { customRender: "name" }
        },
        {
          title: "状态",
          dataIndex: "status",
          scopedSlots: { customRender: "status" }
        },
        {
          title: "操作",
          dataIndex: "operation",
          scopedSlots: { customRender: "operation" }
        }
      ],
      loadData: [],
      // loading
      loading: false,
      statusMap: {
        0: { text: "未发布" },
        1: { text: "已发布" },
        2: { text: "删除" }
      }
    };
  },
  // created() {
  //   this.fetch();
  // },
  methods: {
    /* ---------- 获取数据/后端搜索/分页 ---------- */
    fetch() {
      this.loading = true;
      getContentCategoriesList(
        Object.assign({}, this.listParam, this.queryParam)
      ).then(res => {
        // input data
        this.loadData = res.pageBean.list;
        this.pagination.total = res.pageBean.allRow;
        this.loading = false;
      });
    },
    /* ---------- 操作 ---------- */
    updateStatus(id, todo = "online") {
      const status = ["offline", "online", "remove"].indexOf(todo);
      updateContentCategoryState({ id, status }).then(res => {
        if (res.status === 0) {
          this.$message.success(
            todo === "online"
              ? "发布成功"
              : todo === "offline"
              ? "下线成功"
              : "删除成功"
          );
          this.fetch();
        } else {
          this.$message.error(res.msg || "操作失败，请稍后重试");
        }
      });
    },
    /* ---------- 标准流程 ---------- */
    // 使用映射表
    readFromList,
    // 搜索逻辑：
   queryFilter(queryData) {
      this.listParam.page = 1;
      if (queryData) {
        this.queryParam = queryData;
      }
      this.fetch();
    },
    // 清空搜索
    clearQuery() {
      this.queryParam = {};
      this.fetch();
    },
    // 后端分页逻辑
    tableChange(pagination, filters, sorter) {
      // console.log({ pagination, filters, sorter });
      if (pagination.current !== this.listParam.page) {
        this.listParam = {
          page: pagination.current,
          pageSize: pagination.pageSize
        };
        this.fetch();
      }
    },
    // 处理弹窗提交后关闭的数据刷新
    handleOk() {
      this.fetch();
    }
  },
  filters: {
    formatDate
  }
};
</script>
