<template>
  <!-- 内容详情 -->
  <a-card :bordered="false">
    <h2>
      内容详情
      <a-button
        size="small"
        icon="edit"
        @click="$refs.createModal.edit(detail.id)"
        style="margin-left: 10px;"
        >编辑</a-button
      >
    </h2>
    <DetailList :fieldsMap="fieldsMap" :detail="detail">
      <template v-slot:duration>{{ detail.duration }}分钟</template>
      <template v-slot:episodesNum>{{ detail.episodesNum }}集</template>
      <template v-slot:date>{{ detail.date | formatDate }} </template>
      <template v-slot:episodeItems>
        <a-table
          :rowKey="row => row.id"
          :columns="episodeItemsColumns"
          :data-source="detail.episodeItems"
          bordered
        >
          <template v-slot:operation="id, row">
            <a-button
              v-if="row.status !== 2"
              type="primary"
              @click="updateEpisodeStatus(id, 2)"
              >上线</a-button
            >
            <a-button v-else type="danger" @click="updateEpisodeStatus(id, 1)"
              >下线</a-button
            >
          </template>
        </a-table>
      </template>
    </DetailList>

    <!-- 添加编辑应用 -->
    <CreateContent ref="createModal" @ok="handleOk" />
  </a-card>
</template>

<script>
import {
  getContentDetail,
  getContentsMap,
  updateEpisodeStatus
} from "@/api/contents";
import DetailList from "@/components/DetailList";
import { readFromList, formatDate } from "@/utils/common";
import CreateContent from "./CreateContent";

export default {
  name: "appDetail",
  components: { DetailList, CreateContent },
  data() {
    return {
      fieldsMap: {
        title: {
          label: "内容名称"
        },
        type: {
          label: "类型",
          list: []
        },
        keywords: {
          label: "关键词",
          detailSlot: "ObjectList"
        },
        tags: {
          label: "标签",
          type: "select",
          list: []
        },
        watchfocus: {
          label: "看点"
        },
        duration: {
          label: "时长",
          type: "number",
          detailSlot: "duration"
        },
        episodesNum: {
          label: "集数",
          detailSlot: "episodesNum"
        },
        years: {
          label: "制片年份",
          type: "number"
        },
        publishTime: {
          label: "上映日期",
          type: "number"
        },
        director: {
          label: "导演",
          detailSlot: "ObjectList"
        },
        location: {
          label: "地区",
          type: "text"
        },
        rewardInfo: {
          label: "获奖信息",
          type: "textarea"
        },
        description: {
          label: "简介",
          type: "textarea"
        },
        expire: {
          label: "版权到期时间",
          detailSlot: "timestamp2date"
        },
        vImage: {
          label: "竖版封面图",
          type: "upload",
          detailSlot: "image"
        },
        hImage: {
          label: "横版封面图",
          type: "upload",
          detailSlot: "image"
        },
        images: {
          label: "影片截图",
          type: "upload",
          detailSlot: "image"
        },
        episodeItems: {
          label: "剧集信息",
          type: "fullslot",
          slotName: "episodeItems",
          status: {
            error: false,
            errormsg: "剧集信息不正确！"
          },
          detailSlot: "episodeItems"
        }
      },
      episodeItemsColumns: [
        {
          title: "ID",
          dataIndex: "id",
          scopedSlots: { customRender: "breakWords" }
        },
        {
          title: "类型",
          dataIndex: "type"
        },
        {
          title: "序号",
          dataIndex: "number"
        },
        {
          title: "名称",
          dataIndex: "name"
        },
        {
          title: "标题",
          dataIndex: "title"
        },
        {
          title: "阿里云ID",
          dataIndex: "aliyunId"
        },
        {
          title: "操作",
          key: "operation",
          dataIndex: "id",
          scopedSlots: { customRender: "operation" }
        }
      ],
      detail: {},
      // 分页参数
      listParam: {
        page: 1,
        pageSize: 20
      },
      pagination: { pageSize: 20, total: 0 },
      // 表格
      columns: [
        {
          title: "内容排序",
          dataIndex: "position"
        },
        {
          title: "内容ID",
          dataIndex: "id",
          scopedSlots: { customRender: "breakWords" }
        },
        { title: "内容名称", dataIndex: "title" },
        {
          title: "内容海报",
          dataIndex: "vImage",
          scopedSlots: { customRender: "image" }
        },
        {
          title: "添加时间",
          dataIndex: "addTime",
          scopedSlots: { customRender: "timestamp13" }
        },
        {
          title: "操作",
          key: "operation",
          dataIndex: "id",
          scopedSlots: { customRender: "operation" }
        }
      ],
      loadData: [],
      // loading
      loading: false,
      // 映射接口
      map: {}
    };
  },
  created() {
    this.getMaps();
    this.fetch();
  },
  methods: {
    fetch() {
      this.loading = true;
      getContentDetail(this.$route.params.id).then(({ data }) => {
        ["vImage", "hImage"].forEach(key => {
          data[key] = [data[key]];
        });
        this.detail = data;
        this.loading = false;
      });
    },
    CreateContentToken() {
      const _this = this;
      this.$confirm({
        title: "确定生成TOKEN吗？",
        onOk() {
          CreateContentToken(_this.detail.id).then(res => {
            if (res.status != 0) {
              _this.$message.error(res.msg || "操作失败，请稍后再试。");
              return;
            }
            _this.$message.success(res.msg || "操作成功！");
            _this.fetch();
          });
        }
      });
    },
    /* ---------- 获取映射表 ---------- */
    getMaps() {
      getContentsMap(["type", "tags"]).then(map => {
        this.fieldsMap.type.list = map.typeMap;
        this.fieldsMap.tags.list = map.tagsMap;
      });
    },
    /* ---------- 操作 ---------- */
    updateEpisodeStatus(episodeId, status) {
      //online: 2; offline: 1
      updateEpisodeStatus({
        episodeId,
        status
      }).then(res => {
        if (res.status) {
          return;
        }
        this.$message.success(res.msg || "操作成功！");
        this.fetch();
      });
    },
    /* ---------- 标准流程 ---------- */
    // 使用映射表
    readFromList,
    // 搜索逻辑：
    queryFilter(queryData) {
      this.listParam.page = 1;
      if (queryData) {
        this.queryParam = queryData;
      }
      this.fetch();
    },
    // 清空搜索
    clearQuery() {
      this.queryParam = {
        channel_id: "1"
      };
      this.fetch();
    },
    // 后端分页逻辑
    tableChange(pagination, filters, sorter) {
      // console.log({ pagination, filters, sorter });
      if (pagination.current !== this.listParam.page) {
        this.listParam = {
          page: pagination.current,
          pageSize: pagination.pageSize
        };
        this.fetch();
      }
    },
    // 处理弹窗提交后关闭的数据刷新
    handleOk() {
      this.fetch();
    }
  },
  filters: { formatDate }
};
</script>

<style lang="less" scoped>
.image {
  display: inline-block;
  max-width: 100px;
  img {
    display: block;
    width: 100%;
  }
}

.activeBtn {
  @normal: #52c41a;
  @active: #389e0d;
  @hover: #73d13d;
  background-color: @normal;
  border-color: @normal;
  color: #fff;
  &:active {
    background-color: @active;
    border-color: @active;
  }
  &:hover {
    background-color: @hover;
    color: #fff;
    border-color: @hover;
  }
}
</style>
