<template>
  <a-modal
    :title="addOrEdit === 'add' ? '添加内容' : '修改内容'"
    width="80%"
    :visible="visible"
    :confirmLoading="confirmLoading"
    :closable="true"
    :maskClosable="false"
    @cancel="handleCancel"
    destroyOnClose
  >
    <a-spin :spinning="confirmLoading">
      <a-steps
        :current="currentStep"
        :style="{ marginBottom: '28px' }"
        size="small"
      >
        <a-step title="填写内容信息" />
        <a-step title="确认信息并完成" />
      </a-steps>
      <!-- step1 -->
      <div v-show="currentStep === 0">
        <a-form :form="form">
          <CFormItem
            v-for="(fieldDesc, field) in fieldsMap"
            :fieldDesc="fieldDesc"
            :field="field"
            :key="field"
          >
            <template v-slot:episodeItems>
              <EpisodeItemsTable
                ref="episodeItems"
                :dataSource="detail.episodeItems"
              />
            </template>
          </CFormItem>
        </a-form>
      </div>
      <!-- step2 -->
      <div v-if="currentStep === 1">
        <DetailList :fieldsMap="fieldsMap" :detail="confirmData">
          <template v-slot:episodeItems>
            <a-table
              :rowKey="row => row.id"
              :columns="columns"
              :data-source="confirmData.episodeItems"
              bordered
            ></a-table>
          </template>
        </DetailList>
      </div>
    </a-spin>
    <template slot="footer">
      <a-button
        key="back"
        @click="backward"
        v-if="currentStep > 0"
        :style="{ float: 'left' }"
        >上一步</a-button
      >
      <a-button key="cancel" @click="handleCancel">取消</a-button>
      <a-button
        key="forward"
        :loading="confirmLoading"
        type="primary"
        @click="handleNext(currentStep)"
        >{{ (currentStep === 1 && "完成") || "下一步" }}</a-button
      >
    </template>
  </a-modal>
</template>

<script>
import moment from "moment";
import {
  getContentsMap,
  getContentDetail,
  // uploadFile,
  addContentDetail
} from "@/api/contents";
import CFormItem from "@/components/CFormItem";
import DetailList from "@/components/DetailList";
import EpisodeItemsTable from "./EpisodeItemsTable";
import { fileNameFilter, formatFileList } from "@/utils/common";
const baseURL =
  process.env.NODE_ENV === "development"
    ? "http://59.110.10.59:8089"
    : process.env.VUE_APP_API_BASE_URL;

export default {
  name: "CreateContent",
  components: {
    CFormItem,
    DetailList,
    EpisodeItemsTable
  },
  data() {
    return {
      addOrEdit: "add",
      // options,
      fieldsMap: {
        title: {
          label: "内容名称",
          options: { rules: [{ required: true }] }
        },
        type: {
          label: "类型",
          type: "select",
          list: [],
          options: { rules: [{ required: true }] }
        },
        keywords: {
          label: "关键词",
          type: "select",
          props: {
            placeholder: "使用逗号分隔",
            mode: "tags",
            tokenSeparators: [",", "，", " "]
          },
          options: { rules: [{ required: true }] },
          initialValue: [],
          detailSlot: "ObjectList"
        },
        tags: {
          label: "标签",
          type: "select",
          list: [],
          options: { rules: [{ required: false }] }
        },
        watchfocus: {
          label: "看点",
          options: { rules: [{ required: false }] }
        },
        duration: {
          label: "时长",
          type: "number",
          props: {
            ps: {
              text: "（分钟）"
            }
          },
          options: { rules: [{ required: true }], initialValue: 0 }
        },
        episodesNum: {
          label: "集数",
          type: "number",
          options: { rules: [{ required: true }], initialValue: 1 }
        },
        years: {
          label: "制片年份",
          type: "number",
          options: { rules: [{ required: false }] }
        },
        publishTime: {
          label: "上映日期",
          type: "number",
          options: { rules: [{ required: false }] }
        },
        director: {
          label: "导演",
          type: "select",
          props: {
            placeholder: "使用逗号分隔",
            mode: "tags",
            tokenSeparators: [",", "，"]
          },
          options: { rules: [{ required: true }] },
          detailSlot: "ObjectList"
        },
        location: {
          label: "地区",
          type: "text",
          options: { rules: [{ required: true }] }
        },
        expire: {
          label: "版权到期时间",
          type: "date",
          options: { rules: [{ required: true }] }
        },
        rewardInfo: {
          label: "获奖信息",
          type: "textarea",
          options: { rules: [{ required: false }], initialValue: "" }
        },
        description: {
          label: "简介",
          type: "textarea",
          options: { rules: [{ required: false }], initialValue: "" }
        },
        vImage: {
          label: "竖版封面图",
          type: "upload",
          slotName: "uploadCert",
          firstLength: 0,
          options: {
            valuePropName: "fileList",
            rules: [{ required: false }],
            initialValue: []
          },
          detailSlot: "icon_url",
          props: {
            action: baseURL + "/files/upload_cert/",
            listType: "picture",
            accept: "image/*",
            preFileList: []
          },
          detailSlot: "uploadImage"
        },
        hImage: {
          label: "横版封面图",
          type: "upload",
          slotName: "uploadCert",
          firstLength: 0,
          options: {
            valuePropName: "fileList",
            rules: [{ required: true }],
            initialValue: []
          },
          detailSlot: "icon_url",
          props: {
            action: baseURL + "/files/upload_cert/",
            listType: "picture",
            accept: "image/*",
            preFileList: []
          },
          detailSlot: "uploadImage"
        },
        images: {
          label: "影片截图",
          type: "upload",
          slotName: "uploadCert",
          firstLength: 0,
          options: {
            valuePropName: "fileList",
            rules: [{ required: true }],
            initialValue: []
          },
          detailSlot: "icon_url",
          limit: 20,
          props: {
            action: baseURL + "/files/upload_cert/",
            listType: "picture-card",
            accept: "image/*",
            preFileList: []
          },
          detailSlot: "uploadImage"
        },
        episodeItems: {
          label: "剧集信息",
          type: "fullslot",
          slotName: "episodeItems",
          status: {
            error: false,
            errormsg: "剧集信息不正确！"
          },
          detailSlot: "episodeItems"
        }
      },
      // 展示
      visible: false,
      confirmLoading: false,
      currentStep: 0,
      form: this.$form.createForm(this),
      detail: {},
      // 确认数据
      confirmData: {},
      columns: [
        {
          title: "ID",
          dataIndex: "id",
          scopedSlots: { customRender: "breakWords" }
        },
        {
          title: "类型",
          dataIndex: "type"
        },
        {
          title: "序号",
          dataIndex: "number"
        },
        {
          title: "名称",
          dataIndex: "name",
          scopedSlots: { customRender: "name" }
        },
        {
          title: "标题",
          dataIndex: "title",
          scopedSlots: { customRender: "titleTemp" }
        },
        {
          title: "阿里云ID",
          dataIndex: "aliyunId",
          scopedSlots: { customRender: "aliyunId" }
        }
      ]
    };
  },
  created() {
    this.getMaps();
  },
  methods: {
    /* ---------- 操作 ---------- */
    add() {
      this.addOrEdit = "add";
      this.visible = true;
      this.detail = {};
      this.form.resetFields();
    },
    edit(docId) {
      this.addOrEdit = "edit";
      this.confirmLoading = true;
      getContentDetail(docId).then(res => {
        if (res.status !== 0) {
          this.$message.error("内容获取出错，请稍后重试");
          return;
        }
        this.detail = res.data; // 保存一下原数据给第二步用
        this.detail.updateTime = moment(this.detail.updateTime);
        this.detail.expire = moment(this.detail.expire);

        let initData = {};
        Object.keys(this.fieldsMap).forEach(key => {
          if (key === "episodeItems") return;
          initData[key] = res.data[key];
        });
        // console.log(initData);
        // 格式化图片输入：
        ["vImage", "hImage", "images"].forEach(key => {
          const pic_url =
            initData[key] instanceof Array ? initData[key] : [initData[key]];
          let temp = [];
          pic_url
            .filter(url => !!url)
            .map((url, i) => {
              temp.push({
                uid: -i - 1,
                name: fileNameFilter(url),
                status: "done",
                response: {
                  data: {
                    url: url,
                    thumbUrl: url
                  }
                },
                url: url,
                thumbUrl: url
              });
            });
          initData[key] = temp;
          this.fieldsMap[key].firstLength = temp.length;
        });

        setTimeout(_ => {
          this.form.setFieldsValue(initData);
          this.confirmLoading = false;
        }, 0);
        this.visible = true;
      });
    },
    /* ---------- 操作 ---------- */
    handleNext(step) {
      const {
        form: { validateFields }
      } = this;
      const currentStep = step + 1;
      if (currentStep <= 1) {
        validateFields((errors, values) => {
          errors = this.selfValidate(errors);
          if (!errors) {
            this.currentStep = currentStep;
            this.confirmData = {
              ...values,
              episodeItems: this.$refs.episodeItems[0].getFinalData()
            };
            // console.log(this.confirmData);
          }
        });
        return;
      }
      // last step
      this.lastStep();
    },
    lastStep() {
      const {
        form: { validateFields }
      } = this;
      validateFields((errors, values) => {
        this.confirmLoading = true;
        if (!errors) {
          // console.log(values.hImage);
          const sendData = {
            is_modify: this.addOrEdit === "edit",
            id: this.detail.id || 0,
            ...values,
            keywords: JSON.stringify(values.keywords),
            director: values.director.join(","),
            hImage: formatFileList(values.hImage, 1),
            vImage: formatFileList(values.vImage, 1),
            images: formatFileList(values.images, 20),
            expire: values.expire.valueOf(),
            episodeItems: JSON.stringify(this.confirmData.episodeItems)
          };
          // console.log(sendData);

          // 确认发送数据
          addContentDetail(sendData).then(res => {
            // console.log(res);
            if (res.status != 0) {
              this.$message.error(res.msg || "操作失败，请稍后重试！", 10);
            } else {
              this.$emit("ok", sendData);
              this.$message.success("操作成功！");
              this.handleCancel();
            }
            this.confirmLoading = false;
          });
        } else {
          this.confirmLoading = false;
        }
      });
    },
    selfValidate(errors = {}) {
      errors = Object.assign({}, errors);
      if (!this.$refs.episodeItems[0].getFinalData().length) {
        // 禁止下一步操作
        errors.episodeItems = {};
        errors.episodeItems.errors = [
          { field: "errors", message: "episodeItems is required" }
        ];
        // full-slot组件错误显示
        this.fieldsMap.episodeItems.status.error = true;
        this.fieldsMap.episodeItems.status.errormsg =
          "episodeItems is required";
      }
      return JSON.stringify(errors) === "{}" ? null : errors;
    },
    /* ---------- 获取映射表 ---------- */
    getMaps() {
      getContentsMap(["type", "tags"]).then(map => {
        this.fieldsMap.type.list = map.typeMap;
        this.fieldsMap.tags.list = map.tagsMap;
      });
    },
    /* ---------- 标准流程 ---------- */
    backward() {
      this.currentStep--;
    },
    handleCancel() {
      // clear form & currentStep
      this.visible = false;
      this.currentStep = 0;
    },
    /* ---------- 表单验证 ---------- */
    uploadImgsValidate(rule, value, callback) {
      console.log(rule, value);
      const require = rule.field !== "vImage";
      // if (value.fileList.some(file => file.status === "uploading")) {
      //   callback(rule.field + " is uploading, please wait");
      // } else if (!value.fileList.length) {
      //   callback(rule.field + " is required");
      // } else if (value.fileList.some(file => file.status !== "done")) {
      //   callback(rule.field + " is required");
      // }
      callback();
    }
  }
};
</script>

<style scoped lang="less">
.imgList {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  li {
    flex: 0 0 19%;
    height: 150px;
    margin-right: 10px;
    list-style: none;
    display: inline-block;
  }
}
.previewImage {
  display: block;
  height: 100% !important;
}
</style>
