<template>
  <a-table :columns="columns" :data-source="data" bordered size="small">
    <template v-slot:breakWords="string">
      <span class="breakWords" style>{{ string }}</span>
    </template>
    <template
      v-for="col in ['name','titleTemp', 'aliyunId']"
      v-slot:[col]="content, row"
    >
      <div :key="col">
        <a-input
          v-if="row.editable"
          style="margin: -5px 0"
          :value="content"
          @change="e => handleChange(e.target.value, row.key, col)"
        />
        <template v-else>{{ content }}</template>
      </div>
    </template>
    <template v-slot:type="content, row">
      <a-select
        v-if="row.editable"
        style="margin: -5px 0"
        @change="value => handleChange(value, row.key, 'type')"
        :default-value="content"
        :options="[
          { value: '正片', label: '正片' },
          { value: '预告片', label: '预告片' }
        ]"
      ></a-select>
      <template v-else>{{ content }}</template>
    </template>
    <template v-slot:number="content, row">
      <a-input-number
        v-if="row.editable"
        style="margin: -5px 0"
        :value="content"
        :min="0"
        @change="value => handleChange(value, row.key, 'number')"
      />
      <template v-else>{{ content ? content : "--" }}</template>
    </template>
    <template v-slot:operation="content, row">
      <div class="editable-row-operations">
        <span v-if="row.editable">
          <a @click="() => save(row.key)">保存</a>
          <a @click="() => cancel(row.key)">取消</a>
        </span>
        <span v-else>
          <a :disabled="editingKey !== ''" @click="() => edit(row.key)">编辑</a>
          <!-- <a-popconfirm
            title="确定删除本行？"
            ok-text="删除"
            cancel-text="取消"
            @confirm="() => removeRow(row.key)"
          >
            <a style="color:red">删除</a>
          </a-popconfirm> -->
        </span>
      </div>
    </template>
    <template v-slot:footer>
      <a-button @click="addARow"> <a-icon type="plus" />添加一行 </a-button>
    </template>
  </a-table>
</template>
<script>
const columns = [
  {
    title: "ID",
    dataIndex: "id",
    scopedSlots: { customRender: "breakWords" }
  },
  {
    title: "类型",
    dataIndex: "type",
    scopedSlots: { customRender: "type" }
  },
  {
    title: "序号",
    dataIndex: "number",
    scopedSlots: { customRender: "number" }
  },
  {
    title: "名称",
    dataIndex: "name",
    scopedSlots: { customRender: "name" }
  },
  {
    title: "标题",
    dataIndex: "title",
    scopedSlots: { customRender: "titleTemp" }
  },
  {
    title: "阿里云ID",
    dataIndex: "aliyunId",
    scopedSlots: { customRender: "aliyunId" }
  },
  {
    title: "操作",
    dataIndex: "operation",
    width: "6.4em",
    scopedSlots: { customRender: "operation" }
  }
];

export default {
  name: "EpisodeItemsTable",
  props: {
    dataSource: {
      type: Array,
      default: _ => []
    }
  },
  data() {
    return {
      data: [],
      cacheData: [],
      columns,
      editingKey: ""
    };
  },
  created() {
    this.initData();
  },
  watch: {
    dataSource(val) {
      this.initData();
    }
  },
  methods: {
    initData() {
      this.data = this.dataSource.map((item, index) => ({
        ...item,
        key: index
      }));
      this.cacheData = this.data.map(item => ({
        ...item
      }));
    },
    handleChange(value, key, column) {
      const newData = [...this.data];
      const target = newData.filter(item => key === item.key)[0];
      column = column === "titleTemp" ? "title" : column;
      if (target) {
        target[column] = value;
        if (column === "type" && value === "预告片") {
          target.number = 1;
        }
        this.data = newData;
      }
    },
    edit(key) {
      const newData = [...this.data];
      const target = newData.filter(item => key === item.key)[0];
      this.editingKey = key;
      if (target) {
        target.editable = true;
        this.data = newData;
      }
    },
    save(key) {
      const newData = [...this.data];
      const newCacheData = [...this.cacheData];
      const target = newData.filter(item => key === item.key)[0];
      const targetCache = newCacheData.filter(item => key === item.key)[0];
      if (target && targetCache) {
        delete target.editable;
        this.data = newData;
        Object.assign(targetCache, target);
        this.cacheData = newCacheData;
      }
      this.editingKey = "";
    },
    removeRow(key) {
      let index = -1;
      this.data.some((row, i) => {
        if (row.key === key) {
          index = i;
          return true;
        }
        return false;
      });
      if (index !== -1) {
        this.data.splice(index, 1);
        this.editingKey = "";
      }
    },
    cancel(key) {
      const newData = [...this.data];
      const target = newData.filter(item => key === item.key)[0];
      this.editingKey = "";
      if (target) {
        Object.assign(
          target,
          this.cacheData.filter(item => key === item.key)[0]
        );
        delete target.editable;
        this.data = newData;
      }
    },
    addARow() {
      const lastnumber = this.data.length
        ? this.data[this.data.length - 1].number
        : 0;
      const temp = {
        key: Math.floor(Math.random() * 1000000),
        id: "待系统生成", // 剧集ID
        type: "正片",
        number: lastnumber + 1,
        title: "默认标题", // 剧集标题
        aliyunId: "阿里云ID", // 阿里云ID
        status: 2 // 剧集默认状态“已上线”
      };
      this.data.push(temp);
      this.cacheData.push(temp);
      this.edit(temp.key);
    },
    getFinalData() {
      return this.data;
    }
  }
};
</script>
<style scoped lang="less">
.editable-row-operations a {
  margin-right: 8px;
}
/deep/ .ant-table-small > .ant-table-content > .ant-table-footer {
  background: #fafafa;
  text-align: center;
}
/deep/
  .ant-table-small
  > .ant-table-content
  > .ant-table-body
  > table
  > .ant-table-thead
  > tr
  > th {
  background: #fafafa;
}
/deep/ .ant-table-small > .ant-table-content > .ant-table-body {
  margin: 0;
}
</style>
