<template>
  <!-- 内容维护/内容列表 -->
  <a-card :bordered="false">
    <div class="table-page-search-wrapper">
      <SearchForm
        :queryField="queryField"
        :queryParam="queryParam"
        @queryFilter="queryFilter"
        @clearQuery="clearQuery"
      ></SearchForm>
    </div>

    <div class="table-operator">
      <a-button type="primary" icon="plus" @click="$refs.createModal.add()"
        >添加内容</a-button
      >
    </div>

    <a-table
      ref="table"
      :rowKey="row => row.id"
      :columns="columns"
      :dataSource="loadData"
      :pagination="pagination"
      :loading="loading"
      @change="tableChange"
    >
    </a-table>

    <!-- 添加编辑内容 -->
    <CreateContent ref="createModal" @ok="handleOk" />
  </a-card>
</template>

<script>
import { getContentsList } from "@/api/contents";
import SearchForm from "@/components/SearchForm";
import { readFromList } from "@/utils/common";
import CreateContent from "./CreateContent";

export default {
  name: "ContentsManagement",
  components: { SearchForm, CreateContent /* addColumn */ },
  data() {
    return {
      queryField: {
        title: {
          label: "内容名称"
        },
        keywords: {
          label: "关键词"
        }
      },
      // 查询参数
      queryParam: {},
      // 分页参数
      listParam: {
        page: 1,
        pageSize: 20
      },
      pagination: { pageSize: 20, total: 0 },
      // 表格
      columns: [
        {
          title: "内容ID",
          dataIndex: "id",
          customRender: str => <span class="breakWords">{str}</span>
        },
        {
          title: "内容名称",
          dataIndex: "title",
          customRender: (title, row) => (
            <router-link to={{ name: "contentDetail", params: { id: row.id } }}>
              {title}
            </router-link>
          )
        },
        {
          title: "海报",
          dataIndex: "vImage",
          customRender: (src, row) => (
            <div class="image">
              <img src={src} title={row.title} />
            </div>
          )
        },
        {
          title: "关键词",
          dataIndex: "keywords",
          customRender: keywords => keywords.join("，") || "<空>"
        },
        {
          title: "状态",
          dataIndex: "state",
          customRender: val => this.statesMap[val] || "未知",
          width: "6em"
        },
        {
          title: "操作",
          dataIndex: "id",
          key: "operation",
          customRender: id => (
            <a-button
              type="primary"
              v-on:click={() => this.$refs.createModal.edit(id)}
            >
              编辑
            </a-button>
          ),
          width: "8em"
        }
      ],
      loadData: [],
      // loading
      loading: false,
      // channelMap: [],
      statesMap: ["正常", "下线"]
    };
  },
  methods: {
    /* ---------- 获取数据/后端搜索/分页 ---------- */
    fetch() {
      this.loading = true;
      getContentsList(Object.assign({}, this.listParam, this.queryParam)).then(
        res => {
          // input data
          this.loadData = res.pageBean.list;
          this.pagination.total = res.pageBean.allRow;
          this.loading = false;
        }
      );
    },
    /* ---------- 标准流程 ---------- */
    // 使用映射表
    readFromList,
    // 搜索逻辑：
    queryFilter(queryData) {
      this.listParam.page = 1;
      if (queryData) {
        this.queryParam = queryData;
      }
      this.fetch();
    },
    // 清空搜索
    clearQuery() {
      this.queryParam = {};
      this.fetch();
    },
    // 后端分页逻辑
    tableChange(pagination, filters, sorter) {
      // console.log({ pagination, filters, sorter });
      if (pagination.current !== this.listParam.page) {
        this.listParam = {
          page: pagination.current,
          pageSize: pagination.pageSize
        };
        this.fetch();
      }
    },
    // 处理弹窗提交后关闭的数据刷新
    handleOk() {
      this.fetch();
    }
  }
};
</script>

<style lang="less" scoped>
.image {
  display: inline-block;
  max-width: 155px;
  max-height: 232px;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
  }
}

td .ant-btn {
  width: 5.2em !important;
}
</style>
