<template>
  <div>
    <div v-if="emptyData" class="chartError" :style="`min-height:${height}px`">
      暂无数据
    </div>
    <div v-show="!emptyData" ref="canvas"></div>
  </div>
</template>

<script>
import moment from "moment";
import { mixinObj } from "@/utils/common";
import { downloadImage } from "@/utils/common";

export default {
  name: "G2PlotBase",
  props: {
    data: Array,
    origin: Array,
    title: {
      type: String,
      default: "chart"
    },
    columns: Array,
    WORDDICT: Object,
    opt: Object,
    height: {
      type: Number,
      default: 200
    }
  },
  data() {
    return {
      Chart: null,
      emptyData: true,
      BaseOpt: {
        forceFit: true
      }
    };
  },
  mounted() {
    this.render();
  },
  methods: {
    PlotRender() {},
    computeOpt: function() {
      const opt = mixinObj(Object.assign({}, this.BaseOpt), this.opt);
      // console.log(opt);
      return opt;
    },
    render() {
      const data = this.data;
      if (this.isEmpty()) return;
      const PlotRender = this.PlotRender;
      this.Chart = new PlotRender(this.$refs.canvas, {
        data,
        ...this.computeOpt()
      });
      this.Chart.render();
    },
    downloadChart() {
      if (this.isEmpty()) {
        console.log("抱歉，暂无图像可供下载");
        return;
      }
      const today = moment().format("YYYYMMDD");
      let downloadHandler = downloadImage;
      downloadImage(this.Chart, this.title + "-" + today);
    },
    getDataView() {
      const ORIGIN = this.origin?.length ? this.origin : this.data;
      if (!ORIGIN || !ORIGIN.length) {
        console.log("抱歉，暂无数据可供展示");
        return "";
      }
      const columns = this.columns;
      let copyTxt =
        `${this.title}\n` +
        columns.map(colDes => colDes[1] || colDes).join("\t") +
        "\n";
      for (const index in ORIGIN) {
        copyTxt +=
          columns.map(colDes => ORIGIN[index][colDes[0] || colDes]).join("\t") +
          "\n";
      }
      return copyTxt;
    },
    isEmpty(target) {
      this.emptyData = (data => {
        if (!data) return true;
        if (Array.isArray(data) && !data.length) return true;
        if (
          typeof data === "object" &&
          JSON.stringify(Object.keys(data)) === "[]"
        )
          return true;
        return false;
      })(target || this.data);
      return this.emptyData;
    }
  },
  watch: {
    data: {
      handler(newVal) {
        this.$nextTick(() => {
          this.Chart
            ? this.changeData
              ? this.isEmpty() || this.changeData(newVal) // 优先自定义的changeData方法
              : this.isEmpty() || this.Chart.changeData(newVal)
            : this.render();
        });
      }
    }
  }
};
</script>
<style scoped>
.chartError {
  text-align: center;
  color: #ddd;
  font-size: 14px;
  line-height: 22px;
}
</style>
