<template>
  <a-card :bordered="false" :title="chart.title">
    <div slot="extra" style="height: inherit;">
      <slot name="innerExtra"></slot>
      <a-button-group v-if="!chart.hiddenExtraFunc" style="margin-left:7px">
        <a-button @click="downloadChart(chartName)" style="margin-right:0">
          <a-icon type="download" />
        </a-button>
        <a-button @click="displayDataView(chartName)">
          <a-icon type="table" />
        </a-button>
      </a-button-group>
    </div>
    <slot></slot>
  </a-card>
</template>

<script>
export default {
  name: "ChartCard",
  props: { chart: Object, chartName: String },
  mounted() {
    if (typeof this.chart.fetch === "function") {
      this.chart.fetch();
    }
  },
  methods: {
    displayDataView(chartRefName) {
      this.$emit("showData", chartRefName);
    },
    downloadChart(chartRefName) {
      this.$emit("download", chartRefName);
    }
  }
};
</script>
<style lang="less" scoped>
/deep/ .ant-card-extra {
  padding: 9px 0 !important;
}
</style>
