<template>
  <!-- 应用详情 -->
  <a-card :bordered="false">
    <h2>
      应用详情
      <a-button
        v-if="$auth('apps.edit')"
        size="small"
        icon="edit"
        @click="$refs.createModal.edit(detail)"
        style="margin-left: 10px;"
        >编辑应用信息</a-button
      >
    </h2>

    <DetailList :fieldsMap="fieldsMap" :detail="detail">
      <template v-slot:token="{ value }">
        <span v-if="value" style="margin-right:2em">{{ value }}</span>
        <a-button size="small" @click="createAppToken">生成TOKEN</a-button>
      </template>
    </DetailList>
    <AppVideoDetail />

    <!-- 添加编辑应用 -->
    <CreateApp ref="createModal" @ok="handleOk" />
  </a-card>
</template>

<script>
import { getAppDetail, getAppMap, createAppToken } from "@/api/appM";
import DetailList from "@/components/DetailList";
import { readFromList, formatDate } from "@/utils/common";
import AppVideoDetail from "./appVideoDetail";
import CreateApp from "./CreateApp";

export default {
  name: "appDetail",
  components: { DetailList, AppVideoDetail, CreateApp },
  data() {
    return {
      fieldsMap: {
        id: {
          label: "应用ID"
        },
        name: {
          label: "应用名称",
        },
        abut_type: {
          label: "对接方式",
          list: []
        },
        status: {
          label: "合作状态",
          list: []
        },
        token: {
          label: "TOKEN",
          detailSlot: "token"
        },
        test_url: {
          label: "测试地址"
        },
        url: {
          label: "正式地址"
        }
      },
      detail: {},
      // 分页参数
      listParam: {
        page: 1,
        pageSize: 20
      },
      pagination: { pageSize: 20, total: 0 },
      // 表格
      columns: [
        {
          title: "内容排序",
          dataIndex: "position"
        },
        {
          title: "内容ID",
          dataIndex: "id",
          scopedSlots: { customRender: "breakWords" }
        },
        { title: "内容名称", dataIndex: "title" },
        {
          title: "内容海报",
          dataIndex: "vImage",
          scopedSlots: { customRender: "image" }
        },
        {
          title: "添加时间",
          dataIndex: "addTime",
          scopedSlots: { customRender: "timestamp13" }
        },
        {
          title: "操作",
          key: "operation",
          dataIndex: "id",
          scopedSlots: { customRender: "operation" }
        }
      ],
      loadData: [],
      // loading
      loading: false,
      // 映射接口
      map: {}
    };
  },
  created() {
    this.getMaps();
    this.fetch();
  },
  methods: {
    fetch() {
      this.loading = true;
      getAppDetail(this.$route.params.id).then(res => {
        this.detail = res.data;
        this.loading = false;
      });
    },
    createAppToken() {
      const _this = this;
      this.$confirm({
        title: "确定生成TOKEN吗？",
        onOk() {
          createAppToken(_this.detail.id).then(res => {
            if (res.status != 0) {
              _this.$message.error(res.msg || "操作失败，请稍后再试。");
              return;
            }
            _this.$message.success(res.msg || "操作成功！");
            _this.fetch();
          });
        }
      });
    },
    /* ---------- 获取映射表 ---------- */
    getMaps() {
      getAppMap(["abut", "status"]).then(map => {
        this.fieldsMap.abut_type.list = map.abutMap;
        this.fieldsMap.status.list = map.statusMap;
      });
    },
    /* ---------- 操作 ---------- */
    /* ---------- 标准流程 ---------- */
    // 使用映射表
    readFromList,
    // 搜索逻辑：
   queryFilter(queryData) {
      this.listParam.page = 1;
      if (queryData) {
        this.queryParam = queryData;
      }
      this.fetch();
    },
    // 清空搜索
    clearQuery() {
      this.queryParam = {
        channel_id: "1"
      };
      this.fetch();
    },
    // 后端分页逻辑
    tableChange(pagination, filters, sorter) {
      // console.log({ pagination, filters, sorter });
      if (pagination.current !== this.listParam.page) {
        this.listParam = {
          page: pagination.current,
          pageSize: pagination.pageSize
        };
        this.fetch();
      }
    },
    // 处理弹窗提交后关闭的数据刷新
    handleOk() {
      this.fetch();
    }
  },
  filters: { formatDate }
};
</script>

<style lang="less" scoped>
.image {
  display: inline-block;
  max-width: 100px;
  img {
    display: block;
    width: 100%;
  }
}

.activeBtn {
  @normal: #52c41a;
  @active: #389e0d;
  @hover: #73d13d;
  background-color: @normal;
  border-color: @normal;
  color: #fff;
  &:active {
    background-color: @active;
    border-color: @active;
  }
  &:hover {
    background-color: @hover;
    color: #fff;
    border-color: @hover;
  }
}
</style>
