<template>
  <!-- 片单详情 -->
  <div>
    <h2>
      {{ appId ? "内容详情" : "片单详情" }}
    </h2>

    <div class="table-page-search-wrapper">
      <SearchForm
        :queryField="queryField"
        :queryParam="queryParam"
        @queryFilter="queryFilter"
        @clearQuery="clearQuery"
      ></SearchForm>
    </div>
    <div class="table-operator" v-if="role().id !== 'user'">
      <a-button
        key="triggerAction"
        v-if="!rowSelection"
        @click="triggerRowChecked"
        >批量操作</a-button
      >
      <template v-else>
        <a-button @click="handleRowsStatusChanged(2)"
          ><a-icon type="cloud-upload" />上线</a-button
        >
        <a-button @click="handleRowsStatusChanged(1)"
          ><a-icon type="cloud-upload" />下线</a-button
        >
        <a-button @click="triggerRowChecked">取消操作</a-button>
      </template>
      <a-alert
        v-show="alertOpt.visible"
        v-bind="alertOpt"
        style="display:inline-block"
      />
    </div>

    <a-table
      ref="table"
      :rowKey="row => row.id"
      :columns="columns"
      :dataSource="loadData"
      :pagination="pagination"
      :loading="loading"
      @change="tableChange"
      :rowSelection="rowSelection"
    >
      <template v-slot:operation="status, row">
        <a-button
          @click="handleStatusChanged(row)"
          :type="status === 2 ? '' : 'primary'"
          :disabled="row.disableOnline"
        >
          {{ [0, 1, 2, 3].indexOf(row.code) >= 0 ? "重新" : ""
          }}{{ status === 2 ? "下线发送" : "上线发送" }}
        </a-button>
      </template>
    </a-table>
  </div>
</template>

<script>
import {
  getAppVideoList,
  getAppVideoMap,
  updateVideoStatus,
  checkAppVideoStatus
} from "@/api/appVideo";
import SearchForm from "@/components/SearchForm";
import { readFromList } from "@/utils/common";
import CreateApp from "./CreateApp";
import { mapGetters } from "vuex";

export default {
  name: "AppVideoDetail",
  components: { SearchForm, CreateApp },
  props: { appId: Number },
  data() {
    return {
      queryField: {
        title: {
          label: "剧集名称"
        },
        status: {
          label: "片源状态",
          type: "select",
          list: []
        }
      },
      // 查询参数
      queryParam: {},
      // 分页参数
      listParam: {
        page: 1,
        pageSize: 20
      },
      pagination: { pageSize: 20, total: 0 },
      // 表格
      columns: [
        {
          title: "剧集ID",
          dataIndex: "itemId",
          customRender: str => <span class="breakWords">{str}</span>
        },
        {
          title: "剧集名称",
          dataIndex: "title"
        },
        {
          title: "状态",
          dataIndex: "status",
          //  {{ row.status }}--{{ row.code }}--{{ row.steps }}
          customRender: (status, row) => (
            <a-steps size="small" props={row.steps}>
              {row.steps.list.map((item, i) => {
                return <a-step props={item} key={i} />;
              })}
            </a-steps>
          )
        },
        this.role().id !== "user"
          ? {
              title: "操作",
              key: "operation",
              dataIndex: "status",
              scopedSlots: { customRender: "operation" }
            }
          : {},
        {
          title: "备注",
          dataIndex: "remark",
          minWidth: "6em"
        }
      ],
      loadData: [],
      rowSelection: undefined,
      defaultRowSelection: {
        selectedRowKeys: [],
        onChange: this.onSelectChange,
        getCheckboxProps: this.getCheckboxProps
      },
      // loading
      loading: false,
      // 映射接口
      map: {},
      // 上下线权限：
      alertOpt: {
        visible: false,
        message: "Warning",
        type: "warning",
        showIcon: true,
        closable: true
      }
    };
  },
  computed: {
    _appId() {
      return this.appId || this.$route.params.id;
    }
  },
  created() {
    if (this.role().id !== "user") {
      this.queryField.status.type = "select";
      this.getMaps();
    } else {
      this.queryField.status.type = "hidden";
    }

    this.checkAppVideoStatus();
  },
  watch: {
    _appId() {
      this._appId && this.fetch() && thi.checkAppVideoStatus();
    }
  },
  methods: {
    ...mapGetters(["role"]),
    /* ---------- 获取数据/后端搜索/分页 ---------- */
    fetch() {
      this.loading = true;
      if (!this._appId) {
        this.$message.error("未知的appId，请重试");
        return;
      }
      getAppVideoList(
        this._appId,
        Object.assign({}, this.listParam, this.queryParam)
      ).then(res => {
        // input data
        let disableOnlineList = [];
        this.loadData = res.pageBean.list.map(el => {
          // code: 999 0/- 1/2 3/4 (f/s)
          // status: 0,1(offline),2(online)
          el.targetStatus = el.lastStatus !== 2 ? 2 : 1;
          // steps
          el.steps = {
            current: (code => {
              return code === 999
                ? 0 // step1
                : [0, 1, 2].indexOf(code) >= 0
                ? 1 // step2
                : code === 3
                ? 2 // step3
                : code === 4
                ? 3 // step4
                : 2; // 未知的code
            })(el.code),
            status: (code => {
              return [1, 3].indexOf(code) >= 0
                ? "error"
                : [2, 4].indexOf(code) >= 0
                ? "finish"
                : "wait";
            })(el.code),
            list: [
              {
                title:
                  {
                    0: "未发送"
                  }[el.status] || "已发送"
              },
              {
                title:
                  {
                    999: "发送请求",
                    0: "发送失败",
                    1: "接收失败"
                  }[el.code] || "接收成功"
              },
              {
                title:
                  {
                    3: "处理失败",
                    4: "处理成功"
                  }[el.code] || "等待处理"
              },
              {
                title:
                  (el.status === 1 ? "下线" : "上线") +
                  (el.code === 4 ? "成功" : "")
              }
            ]
          };

          // ---------- 禁止上线 ---------- //
          el.disableOnline = !!el.deleted;
          el.disableOnline && disableOnlineList.push(el.id);
          return el;
        });
        // console.log(disableOnlineList);
        this.pagination.total = res.pageBean.allRow;
        this.loading = false;
      });
    },
    getMaps() {
      getAppVideoMap(["status"]).then(map => {
        this.queryField.status.list = map.statusMap;
      });
    },
    checkAppVideoStatus() {
      checkAppVideoStatus(this._appId).then(res => {
        this.alertOpt = {
          ...this.alertOpt,
          visible: !!res.data,
          message: res.data
        };
      });
    },
    /* ---------- 操作 ---------- */
    handleStatusChanged(row) {
      updateVideoStatus([row.id], row.status === 2 ? 1 : 2).then(res => {
        if (res.status) {
          this.$message.error(res.msg || "操作失败！");
          return;
        }
        this.fetch();
      });
    },
    handleRowsStatusChanged(targetStatus) {
      updateVideoStatus(
        this.defaultRowSelection.selectedRowKeys,
        targetStatus
      ).then(res => {
        if (res.status) {
          this.$message.error(res.msg || "操作失败！");
          return;
        }
        this.fetch();
      });
    },
    /* ---------- 标准流程 ---------- */
    // 使用映射表
    readFromList,
    // 搜索逻辑：
    queryFilter(queryData) {
      this.listParam.page = 1;
      if (queryData) {
        this.queryParam = queryData;
      }
      this.fetch();
    },
    // 清空搜索
    clearQuery() {
      this.queryParam = {};
      this.fetch();
    },
    // 后端分页逻辑
    tableChange(pagination, filters, sorter) {
      // console.log({ pagination, filters, sorter });
      if (pagination.current !== this.listParam.page) {
        this.listParam = {
          page: pagination.current,
          pageSize: pagination.pageSize
        };
        this.fetch();
      }
    },
    // 处理弹窗提交后关闭的数据刷新
    handleOk() {
      this.fetch();
    },
    triggerRowChecked() {
      if (!this.rowSelection) {
        this.rowSelection = this.defaultRowSelection;
      } else {
        this.rowSelection = undefined;
        this.defaultRowSelection.selectedRowKeys = [];
      }
    },
    onSelectChange(selectedRowKeys) {
      this.defaultRowSelection.selectedRowKeys = selectedRowKeys;
    },
    getCheckboxProps(record) {
      return {
        props: {
          disabled: record.disableOnline,
          name: record.name
        }
      };
    }
  }
};
</script>
