<template>
  <a-modal
    :title="addOrEdit === 'add' ? '添加应用' : '修改应用'"
    :width="860"
    :visible="visible"
    :confirmLoading="confirmLoading"
    :closable="true"
    :maskClosable="false"
    @cancel="handleCancel"
    destroyOnClose
  >
    <a-spin :spinning="confirmLoading">
      <a-steps
        :current="currentStep"
        :style="{ marginBottom: '28px' }"
        size="small"
      >
        <a-step title="填写应用信息" />
        <a-step title="确认信息并完成" />
      </a-steps>
      <!-- step1 -->
      <div v-show="currentStep === 0">
        <a-form :form="form">
          <CFormItem
            v-for="(fieldDesc, field) in fieldsMap"
            :fieldDesc="fieldDesc"
            :field="field"
            :key="field"
          />
        </a-form>
      </div>
      <!-- step2 -->
      <div v-if="currentStep === 1">
        <DetailList :fieldsMap="fieldsMap" :detail="confirmData"> </DetailList>
      </div>
    </a-spin>
    <template slot="footer">
      <a-button
        key="back"
        @click="backward"
        v-if="currentStep > 0"
        :style="{ float: 'left' }"
        >上一步</a-button
      >
      <a-button key="cancel" @click="handleCancel">取消</a-button>
      <a-button
        key="forward"
        :loading="confirmLoading"
        type="primary"
        @click="handleNext(currentStep)"
        >{{ (currentStep === 1 && "完成") || "下一步" }}</a-button
      >
    </template>
  </a-modal>
</template>

<script>
import { addApp, getAppMap } from "@/api/appM";
import CFormItem from "@/components/CFormItem";
import DetailList from "@/components/DetailList";

export default {
  name: "CreateApp",
  components: { CFormItem, DetailList },
  data() {
    return {
      addOrEdit: "add",
      // options,
      fieldsMap: {
        name: {
          label: "应用名称",
        },
        abut_type: {
          label: "对接方式",
          type: "select",
          list: [],
          options: { rules: [{ required: true }] }
        },
        status: {
          label: "合作状态",
          type: "select",
          list: [],
          options: { rules: [{ required: true }] }
        },
        test_url: {
          label: "测试地址",
          type: "text",
          options: { rules: [{ required: true }] }
        },
        url: {
          label: "正式地址",
          type: "text",
          options: { rules: [{ required: true }] }
        }
      },
      // 展示
      visible: false,
      confirmLoading: false,
      currentStep: 0,
      form: this.$form.createForm(this),
      detail: {},
      // 确认数据
      confirmData: {}
    };
  },
  created() {
    this.getMaps();
  },
  methods: {
    /* ---------- 操作 ---------- */
    add() {
      this.addOrEdit = "add";
      this.visible = true;
      this.form.resetFields();
    },
    edit(detail) {
      this.addOrEdit = "edit";
      this.detail = detail;

      let initData = {};
      Object.keys(this.fieldsMap).forEach(key => {
        initData[key] = detail[key];
      });
      // console.log(initData);

      setTimeout(_ => {
        this.form.setFieldsValue(initData);
        this.confirmLoading = false;
      }, 0);
      this.visible = true;
    },
    /* ---------- 操作 ---------- */
    handleNext(step) {
      const {
        form: { validateFields }
      } = this;
      const currentStep = step + 1;
      if (currentStep <= 1) {
        validateFields((errors, values) => {
          if (!errors) {
            this.currentStep = currentStep;
            this.confirmData = {
              ...values
            };
          }
        });
        return;
      }
      // last step
      this.lastStep();
    },
    lastStep() {
      const {
        form: { validateFields }
      } = this;
      validateFields((errors, values) => {
        this.confirmLoading = true;
        if (!errors) {
          const sendData = {
            is_modify: this.addOrEdit === "edit",
            id: this.detail.id || 0,
            ...values
          };
          // console.log(sendData);

          // 确认发送数据
          addApp(sendData).then(res => {
            // console.log(res);
            if (res.status != 0) {
              this.$message.error(res.msg || "操作失败，请稍后重试！", 10);
            } else {
              this.$emit("ok", sendData);
              this.$message.success("操作成功！");
              this.handleCancel();
            }
            this.confirmLoading = false;
          });
        } else {
          this.confirmLoading = false;
        }
      });
    },
    getMaps() {
      getAppMap(["abut", "status"]).then(map => {
        this.fieldsMap.abut_type.list = map.abutMap;
        this.fieldsMap.status.list = map.statusMap;
      });
    },
    /* ---------- 标准流程 ---------- */
    backward() {
      this.currentStep--;
    },
    handleCancel() {
      // clear form & currentStep
      this.visible = false;
      this.currentStep = 0;
    }
  }
};
</script>

<style scoped lang="less">
.imgList {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  li {
    flex: 0 0 19%;
    height: 150px;
    margin-right: 10px;
    list-style: none;
    display: inline-block;
  }
}
.previewImage {
  display: block;
  height: 100% !important;
}
</style>
