<template>
  <!-- 应用列表 -->
  <a-card :bordered="false">
    <div class="table-page-search-wrapper">
      <SearchForm
        :queryField="queryField"
        :queryParam="queryParam"
        @queryFilter="queryFilter"
        @clearQuery="clearQuery"
      ></SearchForm>
    </div>

    <div class="table-operator">
      <a-button type="primary" icon="plus" @click="$refs.createModal.add()"
        >添加应用</a-button
      >
    </div>

    <a-table
      ref="table"
      :rowKey="row => row.id"
      :columns="columns"
      :dataSource="loadData"
      :pagination="pagination"
      :loading="loading"
      @change="tableChange"
    >
      <template v-slot:name="name, row">
        <router-link :to="{ name: 'appDetail', params: { id: +row.id } }">
        {{name}}
        </router-link>
      </template>
      <template v-slot:abut_type="abut_type">
        {{ readFromList(abut_type, map.abutMap) }}
      </template>
      <template v-slot:status="status">
        {{ readFromList(status, map.statusMap) }}
      </template>
    </a-table>

    <!-- 添加编辑应用 -->
    <CreateApp ref="createModal" @ok="handleOk" />
  </a-card>
</template>

<script>
import { getAppList, getAppMap } from "@/api/appM";
import SearchForm from "@/components/SearchForm";
import { readFromList } from "@/utils/common";
import CreateApp from "./CreateApp";

export default {
  name: "AppsManagment",
  components: { SearchForm, CreateApp },
  data() {
    return {
      queryField: {
        name: {
          label: "应用名称"
        }
      },
      // 查询参数
      queryParam: {},
      // 分页参数
      listParam: {
        page: 1,
        pageSize: 20
      },
      pagination: { pageSize: 20, total: 0 },
      // 表格
      columns: [
        {
          title: "应用ID",
          dataIndex: "id"
        },
        {
          title: "应用",
          dataIndex: "name",
          scopedSlots: { customRender: "name" }
        },
        {
          title: "对接方式",
          dataIndex: "abut_type",
          scopedSlots: { customRender: "abut_type" }
        },
        {
          title: "应用状态",
          dataIndex: "status",
          scopedSlots: { customRender: "status" }
        }
      ],
      loadData: [],
      // loading
      loading: false,
      // 映射接口
      map: {}
    };
  },
  created() {
    this.getMaps();
    // this.fetch();
  },
  methods: {
    /* ---------- 获取数据/后端搜索/分页 ---------- */
    fetch() {
      this.loading = true;
      getAppList(Object.assign({}, this.listParam, this.queryParam)).then(
        res => {
          // input data
          this.loadData = res.pageBean.list;
          this.pagination.total = res.pageBean.allRow;
          this.loading = false;
        }
      );
    },
    /* ---------- 获取映射表 ---------- */
    getMaps() {
      getAppMap(["abut", "status"]).then(map => {
        this.map = map;
        // ({ mediaMap,abutMap, statusMap })
      });
    },
    /* ---------- 标准流程 ---------- */
    // 使用映射表
    readFromList,
    // 搜索逻辑：
   queryFilter(queryData) {
      this.listParam.page = 1;
      if (queryData) {
        this.queryParam = queryData;
      }
      this.fetch();
    },
    // 清空搜索
    clearQuery() {
      this.queryParam = {};
      this.fetch();
    },
    // 后端分页逻辑
    tableChange(pagination, filters, sorter) {
      // console.log({ pagination, filters, sorter });
      if (pagination.current !== this.listParam.page) {
        this.listParam = {
          page: pagination.current,
          pageSize: pagination.pageSize
        };
        this.fetch();
      }
    },
    // 处理弹窗提交后关闭的数据刷新
    handleOk() {
      this.fetch();
    }
  }
};
</script>

<style lang="less" scoped>
.image {
  display: inline-block;
  max-width: 200px;
  img {
    display: block;
    width: 100%;
  }
}

.activeBtn {
  @normal: #52c41a;
  @active: #389e0d;
  @hover: #73d13d;
  background-color: @normal;
  border-color: @normal;
  color: #fff;
  &:active {
    background-color: @active;
    border-color: @active;
  }
  &:hover {
    background-color: @hover;
    color: #fff;
    border-color: @hover;
  }
}
</style>
