<template>
  <!-- 用户详情 -->
  <a-card :bordered="false">
    <a-spin :spinning="loading">
      <h2>
        应用详情
        <a-button
          v-if="$auth('apps.edit')"
          size="small"
          icon="edit"
          @click="$refs.createModal.edit(appDetail)"
          style="margin-left: 10px;"
          >编辑应用信息</a-button
        >
      </h2>
      <DetailList :fieldsMap="fieldsMap2" :detail="appDetail">
        <template v-slot:token="{ value }">
          <span v-if="value" style="margin-right:2em">{{ value }}</span>
          <a-button size="small" @click="createAppToken">生成TOKEN</a-button>
        </template>
      </DetailList>

      <h2>用户详情</h2>
      <DetailList :fieldsMap="fieldsMap" :detail="detail">
        <!-- <template v-slot:passwd>
          <a-button @click="$refs.resetPW.show()">修改密码</a-button>
        </template> -->
      </DetailList>
    </a-spin>
    <!-- 添加编辑应用 -->
    <EditApp ref="createModal" @ok="handleOk" />
    <!-- 修改密码 -->
    <ResetPassWord ref="resetPW" />
  </a-card>
</template>

<script>
import DetailList from "@/components/DetailList";
import { getUserInfoById, resetPassword } from "@/api/user";
import { getAppDetail, createAppToken } from "@/api/appM";
import { mapGetters, mapState } from "vuex";
import { map2list } from "@/utils/common";
import EditApp from "./editApp";
import ResetPassWord from "./ResetPassword";

export default {
  name: "userCenter",
  components: { DetailList, EditApp, ResetPassWord },
  data() {
    return {
      loading: false,
      userId: 0,
      fieldsMap: {
        userName: {
          label: "登录名"
        },
        nickName: {
          label: "姓名"
        },
        phone: {
          label: "手机号"
        },
        // passwd: {
        //   label: "密码",
        //   detailSlot: "passwd"
        // },
        endTime: {
          label: "用户有效期",
          detailSlot: "timestamp2date"
        }
      },
      detail: {},
      fieldsMap2: {
        id: {
          label: "应用名称",
          list: map2list(this.userInfo().appMap)
        },
        token: {
          label: "TOKEN",
          detailSlot: "token"
        },
        test_url: {
          label: "测试地址"
        },
        url: {
          label: "正式地址"
        }
      },
      appDetail: {}
    };
  },
  created() {
    this.userId = this.userInfo().id;
    getUserInfoById(this.userId).then(({ data }) => {
      data.endTime = +(data.endTime + "000");
      this.detail = data;
    });
    this.fetch();
  },
  computed: {
    ...mapState({
      appId: state => state.user.appId
    })
  },
  watch: {
    appId() {
      this.fetch();
    }
  },
  methods: {
    ...mapGetters(["userInfo"]),
    /* ---------- 获取数据/后端搜索/分页 ---------- */
    fetch() {
      this.loading = true;
      getAppDetail(this.appId).then(res => {
        this.appDetail = res.data;
        this.loading = false;
      });
    },
    // resetPassword(id) {
    //   this.$confirm({
    //     title: "确定要修改密码吗？",
    //     onOk() {
    //       resetPassword(id, passwd).then(res => {
    //         if (res.status) {
    //           this.$message.error(res.msg || "请求出错，请稍后再试");
    //           return;
    //         }
    //         this.$message.success(res.msg);
    //       });
    //     }
    //   });
    // },
    createAppToken() {
      const _this = this;
      this.$confirm({
        title: "确定生成TOKEN吗？",
        onOk() {
          createAppToken(_this.appDetail.id).then(res => {
            if (res.status != 0) {
              _this.$message.error(res.msg || "操作失败，请稍后再试。");
              return;
            }
            _this.$message.success(res.msg || "操作成功！");
            _this.fetch();
          });
        }
      });
    },
    // 处理弹窗提交后关闭的数据刷新
    handleOk() {
      this.fetch();
    }
  }
};
</script>
