<template>
  <a-modal
    v-model="visible"
    title="修改密码"
    @ok="handleSubmit"
    width="600px"
    @cancel="handleCancel"
  >
    <a-form
      ref="formRegister"
      :form="form"
      id="formRegister"
      :label-col="{ span: 4 }"
      :wrapper-col="{ span: 20 }"
      @submit="handleSubmit"
    >
      <a-form-item label="密码" layout="horizontal">
        <a-input-password
          size="large"
          type="password"
          autocomplete="false"
          placeholder="至少8位字符，至少包含一个小写字母、一个大写字母、一个数字、一个特殊字符。"
          v-decorator="[
            'passwd',
            {
              rules: [
                {
                  required: true,
                  message: '请输入密码'
                },
                { validator: this.handlePasswordLevel }
              ],
              validateTrigger: ['change', 'blur']
            }
          ]"
        ></a-input-password>
      </a-form-item>
      <a-form-item label="重复密码">
        <a-input-password
          size="large"
          type="password"
          autocomplete="false"
          placeholder="确认密码"
          v-decorator="[
            'passwd2',
            {
              rules: [
                {
                  required: true,
                  message: '请重复密码'
                },
                { validator: this.handlePasswordCheck }
              ],
              validateTrigger: ['change', 'blur']
            }
          ]"
        ></a-input-password>
      </a-form-item>
    </a-form>
  </a-modal>
</template>

<script>
import { resetPassword } from "@/api/user";
import { mapGetters } from "vuex";
import md5 from "md5";

export default {
  name: "resetPassWord",
  data() {
    return {
      visible: false,
      registerBtn: false,
      form: this.$form.createForm(this)
    };
  },
  methods: {
    show() {
      this.visible = true;
    },
    ...mapGetters(["userInfo"]),
    handlePasswordLevel(rule, value, callback) {
      if (!value) {
        callback(" ");
      }
      let err = [];
      let LenErr = "";
      // 判断字符串中有没有字母
      if (!/[a-z]/.test(value)) {
        err.push("一个小写字母");
      }
      if (!/[A-Z]/.test(value)) {
        err.push("一个大写字母");
      }
      // 判断这个字符串中有没有数字
      if (!/[0-9]/.test(value)) {
        err.push("一个数字");
      }
      // 判断字符串中有没有特殊符号
      if (!/[^0-9a-zA-Z]/.test(value)) {
        err.push("一个特殊字符");
      }
      if (value.length < 8) {
        LenErr = "至少8个字符";
      }
      if (err.length || LenErr) {
        callback(
          `${LenErr}${LenErr && err.length ? "，" : ""}${
            err.length ? "需要至少" + err.join("、") : ""
          }`
        );
      } else {
        callback();
      }
    },
    handlePasswordCheck(rule, value, callback) {
      const password = this.form.getFieldValue("passwd");
      console.log("value", value);
      if (value === undefined) {
        callback(new Error("请输入密码"));
      }
      if (value && password && value.trim() !== password.trim()) {
        callback(new Error("两次密码不一致"));
      }
      callback();
    },
    handleSubmit() {
      const {
        form: { validateFields },
        state,
        $router
      } = this;
      validateFields({ force: true }, (err, values) => {
        if (!err) {
          resetPassword(this.userInfo().id, md5(values.passwd)).then(res => {
            if (res.status) {
              this.$message.error(res.msg || "密码修改失败");
              return;
            } else {
              this.$message.success(res.msg || "密码修改成功");
              this.handleCancel();
            }
          });
        }
      });
    },
    handleCancel() {
      this.visible = false;
      this.form.resetFields();
    }
  }
};
</script>
