<template>
  <div class="markdown-body" key="routeName">
    <template v-if="routeName === 'dockingDocs'">
      <a-button type="primary" @click="downloadSDK"
        >trendy-player-sdk.zip下载</a-button
      >
    </template>
    <VueMarkdown :source="value" v-highlight />
  </div>
</template>

<script>
import VueMarkdown from "vue-markdown";
import "github-markdown-css/github-markdown.css";
import "highlight.js/styles/github.css";
import { fileDownload } from "@/utils/common";
import { mapGetters } from "vuex";
import axios from "axios";

export default {
  name: "userDoc",
  components: { VueMarkdown },
  data() {
    return {
      value: ""
    };
  },
  computed: {
    routeName() {
      return this.$route.name;
    }
  },
  watch: {
    routeName: {
      handler() {
        this.init();
      },
      immediate: true
    }
  },
  methods: {
    ...mapGetters(["role"]),
    downloadSDK() {
      const baseURL = process.env.VUE_APP_API_BASE_URL;
      fileDownload(baseURL + "/api/sdk/trendy-player-sdk.zip");
    },
    init() {
      let url = "";
      if (this.routeName === "userDocs") {
        url = `/userDocs/风尚内容开放平台-产品手册-${this.role().id}.md`; // public
      } else {
        url = `/userDocs/userDoc.md`;
      }

      axios(url).then(res => {
        this.value = res.data;
      });
    }
  }
};
</script>

<style>
.markdown-body {
  padding: 20px 30px;
}
</style>
