<template>
  <!-- 广告数据 -->
  <a-card :bordered="false">
    <div class="table-page-search-wrapper">
      <SearchForm
        :queryField="queryField"
        :queryParam="queryParam"
        @queryFilter="queryFilter"
        @clearQuery="clearQuery"
      ></SearchForm>
    </div>

    <a-table
      ref="table"
      :rowKey="row => row.date"
      :columns="columns"
      :dataSource="loadData"
      :pagination="pagination"
      :loading="loading"
      @change="tableChange"
    >
      <template v-slot:toThousands="val">
        {{ val | toThousands }}
      </template>
    </a-table>
  </a-card>
</template>

<script>
import moment from "moment";
import { mapGetters } from "vuex";
import { getAdDataList, getAdDataMaps } from "@/api/dashboard";
import SearchForm from "@/components/SearchForm";
import { readFromList, toThousands } from "@/utils/common";
const defaultDateRange = [
  moment()
    .subtract(1, "months")
    .subtract(1, "days"),
  moment().subtract(1, "days")
];

export default {
  name: "videoData",
  components: { SearchForm },
  data() {
    return {
      queryField: {
        dateRange: {
          label: "时间范围",
          type: "dateRange"
        },
        statType: {
          label: "统计类型",
          type: "select",
          list: []
        }
      },
      // 查询参数
      queryParam: {
        dateRange: defaultDateRange,
        statType: 1
      },
      // 分页参数
      listParam: {
        page: 1,
        pageSize: 20
      },
      pagination: { pageSize: 20, total: 0 },
      // 表格
      columns: [
        {
          title: "日期",
          dataIndex: "date"
        },
        {
          title: "广告曝光数",
          dataIndex: "adImpPv",
          scopedSlots: { customRender: "toThousands" }
        },
        {
          title: "广告曝光用户数",
          dataIndex: "adUv",
          scopedSlots: { customRender: "toThousands" }
        }
      ],
      loadData: [],
      // loading
      loading: false,
      // 映射接口
      map: {}
    };
  },
  created() {
    this.getMaps();
    // this.fetch();
  },
  methods: {
    ...mapGetters(["appId"]),
    /* ---------- 获取数据/后端搜索/分页 ---------- */
    fetch() {
      this.loading = true;
      const queryParam = {
        ...this.queryParam
      };
      if (queryParam.dateRange) {
        queryParam.startDate = queryParam.dateRange[0].format("YYYYMMDD");
        queryParam.endDate = queryParam.dateRange[1].format("YYYYMMDD");
        delete queryParam.dateRange;
      }
      getAdDataList(
        this.appId(),
        Object.assign({}, this.listParam, queryParam)
      ).then(res => {
        // input data
        this.loadData = res.pageBean.list;
        this.pagination.total = res.pageBean.allRow;
        this.loading = false;
      });
    },
    /* ---------- 获取映射表 ---------- */
    getMaps() {
      getAdDataMaps(["statType"]).then(map => {
        this.queryField.statType.list = map.statTypeMap;
      });
    },
    /* ---------- 标准流程 ---------- */
    // 使用映射表
    readFromList,
    // 搜索逻辑：
   queryFilter(queryData) {
      this.listParam.page = 1;
      if (queryData) {
        this.queryParam = queryData;
      }
      this.fetch();
    },
    // 清空搜索
    clearQuery() {
      this.queryParam = {
        dateRange: defaultDateRange,
        statType: 1
      };
      this.fetch();
    },
    // 后端分页逻辑
    tableChange(pagination, filters, sorter) {
      // console.log({ pagination, filters, sorter });
      if (pagination.current !== this.listParam.page) {
        this.listParam = {
          page: pagination.current,
          pageSize: pagination.pageSize
        };
        this.fetch();
      }
    },
    // 处理弹窗提交后关闭的数据刷新
    handleOk() {
      this.fetch();
    }
  },
  filters: { toThousands }
};
</script>
