<template>
  <div class="headCards">
    <a-card
      v-for="cardContent in cardsArray"
      :key="cardContent.name"
      :title="cardContent.title"
      :bordered="false"
      :loading="loading"
    >
      <p>
        {{ +cardContent.value | toThousands }}
        <!-- <br />
        <span class="small" :class="getColorClassName(cardContent.ratio)"
          >{{ _opt.ratioTitle }}：{{ cardContent.ratio }}</span
        > -->
      </p>
    </a-card>
  </div>
</template>

<script>
import { toThousands } from "@/utils/common";
export default {
  name: "headCard",
  props: {
    loading: Boolean,
    cardsArray: Array,
    opt: Object
  },
  computed: {
    _opt() {
      return {
        ratioTitle: "日环比",
        ...this.opt
      };
    }
  },
  methods: {
    getColorClassName(str) {
      if (["0.00%","--"].indexOf(str)>=0) return "a-grey";
      if (/^-/.test(str)) return "a-green";
      return "a-red";
    }
  },
  filters: {
    toThousands
  }
};
</script>

<style lang="less">
.headCards {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;

  .ant-row {
    min-width: 992px;
  }

  .ant-card {
    flex: 1 0 200px;
    margin-right: 24px;
  }
  .ant-card:last-child {
    margin-right: 0;
  }

  .ant-card-head-title {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    line-height: 22px;
  }

  .ant-card-body {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.65);
    font-weight: 500;
  }

  .small {
    font-size: 0.8em;
  }
}
</style>
