<template>
  <div>
    <div class="title headTitle">
      累计数据情况
      <a-date-picker
        v-model="headCardDate"
        style="float:right;line-height:52px"
        @change="fetch1"
      />
    </div>
    <headCard :loading="loading" :cardsArray="headCardsArray" />

    <a-row :gutter="24">
      <template
        v-for="(chart, chartName) in {
          lineChart1,
          lineChart2,
          pieChart,
          top10List
        }"
      >
        <a-col :key="chartName" v-bind="chart.chartLayout">
          <ChartCard
            :chart="chart"
            :chartName="chartName"
            :style="{ marginTop: '24px' }"
            @download="chartName => $refs[chartName][0].downloadChart()"
            @showData="displayDataView"
          >
            <template v-slot:innerExtra>
              <a-range-picker
                v-if="chart.extra"
                v-model="chart.dateRange"
                @change="chart.fetch"
                :disabledDate="disabledDate"
                style="width: 256px"
              ></a-range-picker>
              <a-select
                v-if="chart.selectOpen"
                style="width: 180px"
                v-model="chart.selectValue"
                @change="chart.fetch"
                :defaultValue="chart.selectList[0].value"
              >
                <a-select-option v-for="i in chart.selectList" :key="i.value">{{
                  i.label
                }}</a-select-option>
              </a-select>
            </template>

            <template v-slot>
              <G2PlotLine
                v-if="chart.type === 'line'"
                :ref="chartName"
                v-bind="chart"
                :height="height"
              />
              <G2PlotPie
                v-if="chart.type === 'pie'"
                :ref="chartName"
                v-bind="chart"
                :height="height"
              />

              <Top10List
                v-if="chart.type === 'list'"
                :ref="chartName"
                v-bind="chart"
                :height="height"
              ></Top10List>
            </template>
          </ChartCard>
        </a-col>
      </template>
    </a-row>
    <CopyModal ref="copyModal" />
  </div>
</template>

<script>
import moment from "moment";
import PageView from "@/layouts/PageView";
import { mapState } from "vuex";
import {
  getOverallData,
  getOverallPlayData,
  get24HoursData,
  getCategoriesData,
  getTop10Data
} from "@/api/dashboard";
import { DataView } from "@antv/data-set";
import { toThousands } from "@/utils/common";
import CopyModal from "@/components/CopyModal";
import headCard from "./headCard";
import { G2PlotLine, G2PlotPie, ChartCard } from "@/components/G2plot";
import Top10List from "@/components/Top10List";

const WORDDICT = {
  date: "日期",
  playImpPv: "播放数",
  adImpPv: "广告曝光数",
  hour: "时",
  category: "内容标签",
  value: "数值"
};

export default {
  name: "Dashboard",
  components: {
    PageView,
    G2PlotLine,
    G2PlotPie,
    ChartCard,
    CopyModal,
    headCard,
    Top10List
  },
  computed: {
    ...mapState({
      appId: state => state.user.appId
    })
  },
  watch: {
    appId() {
      // this.$router.go(0)
      this.fetch();
      ["lineChart1", "lineChart2", "pieChart", "top10List"].map(key=>{
        this[key].fetch();
      });
    }
  },
  data() {
    const defaultDate = new moment().startOf("day").add(-1, 'd');
    const defaultDateRange = [
      moment()
        .subtract(1, "months")
        .subtract(1, "days"),
      moment().subtract(1, "days")
    ];
    return {
      loading: true,
      headCardDate: defaultDate,
      headCardsArray: [
        {
          title: "播放数",
          name: "impPv",
          value: 0,
          ratio: "--"
        },
        {
          title: "播放用户数",
          name: "uv",
          value: 0,
          ratio: "--"
        },
        {
          title: "播放时长",
          name: "playTime",
          value: 0,
          ratio: "--"
        },
        {
          title: "广告曝光数",
          name: "adImpPv",
          value: 0,
          ratio: "--"
        },
        {
          title: "广告曝光用户数",
          name: "adUv",
          value: 0,
          ratio: "--"
        }
      ],
      height: 300,
      // 图表
      lineChart1: {
        title: "整体播放情况",
        type: "line",
        columns: ["date", "playImpPv", "adImpPv"].map(w => [w, WORDDICT[w]]),
        data: [],
        origin: [],
        dateRange: [].concat(defaultDateRange),
        fetch: this.fetchLineChart1,
        loading: true,
        chartError: false,
        opt: {
          xField: "date",
          yField: "value",
          seriesField: "type",
          meta: {
            value: {
              formatter: toThousands
            }
          },
          xAxis: {
            tickCount: 12
          }
        },
        chartLayout: {
          md: 24,
          lg: 24
        },
        extra: true
      },
      lineChart2: {
        title: "24小时播放情况",
        type: "line",
        columns: ["hour", "playImpPv", "adImpPv"].map(w => [w, WORDDICT[w]]),
        data: [],
        origin: [],
        hourRange: [].concat(defaultDateRange),
        fetch: this.fetchLineChart2,
        loading: true,
        chartError: false,
        opt: {
          xField: "hour",
          yField: "value",
          seriesField: "type",
          meta: {
            hour: {
              formatter: val => val + "时"
            },
            value: {
              formatter: toThousands
            }
          },
          xAxis: {
            tickCount: 12
          }
        },
        chartLayout: {
          md: 24,
          lg: 24
        }
      },
      pieChart: {
        title: "内容标签播放占比",
        type: "pie",
        columns: ["category", "value"].map(w => [w, WORDDICT[w]]),
        data: [],
        origin: [],
        fetch: this.fetchPieChart,
        loading: true,
        chartError: false,
        opt: {
          colorField: "category",
          angleField: "value",
          meta: {
            value: {
              formatter: toThousands
            }
          },
          label: {
            formatter: (value, item, index) => {
              return `${value.category}：\n${(value.percent * 100).toFixed(
                2
              )}%`;
            }
          }
        },
        chartLayout: {
          md: 24,
          lg: 12
        }
      },
      top10List: {
        hiddenExtraFunc: true,
        title: "纪录片播放TOP10",
        type: "list",
        fetch: this.fetchList,
        chartLayout: {
          md: 24,
          lg: 12
        },
        data: []
      }
    };
  },
  mounted() {
    this.fetch();
  },
  methods: {
    fetch() {
      this.fetch1();
    },
    fetch1() {
      this.loading = true;
      // fetch HeadCards
      const params = {
        date: this.headCardDate.format("YYYYMMDD")
      };
      getOverallData(this.appId, params).then(({ data }) => {
        for (let item of this.headCardsArray) {
          item.value = data[item.name];
          item.ratio = data[item.name + "DayToDayRatio"] || "--";
        }
        this.loading = false;
      });
    },
    fetchLineChart1() {
      const chart = this.lineChart1;
      const params = {
        startDate: chart.dateRange[0].format("YYYYMMDD"),
        endDate: chart.dateRange[1].format("YYYYMMDD")
      };
      chart.loading = true;
      getOverallPlayData(this.appId, params).then(res => {
        if (res.status) {
          this.$$message.error(res.msg || "获取数据失败，请稍后重试。");
          return;
        }
        const dv = new DataView()
          .source(res.data)
          .transform({
            type: "fold",
            fields: ["playImpPv", "adImpPv"],
            key: "type",
            value: "value"
          })
          .transform({
            type: "map",
            callback(row) {
              row.type = WORDDICT[row.type];
              return row;
            }
          });
        chart.origin = dv.origin;
        chart.data = dv.rows;
      });
    },
    fetchLineChart2() {
      const chart = this.lineChart2;
      get24HoursData(this.appId).then(res => {
        if (res.status) {
          this.$$message.error(res.msg || "获取数据失败，请稍后重试。");
          return;
        }
        const dv = new DataView()
          .source(res.data)
          .transform({
            type: "fold",
            fields: ["playImpPv", "adImpPv"],
            key: "type",
            value: "value"
          })
          .transform({
            type: "map",
            callback(row) {
              row.type = WORDDICT[row.type];
              return row;
            }
          });
        chart.origin = dv.origin;
        chart.data = dv.rows;
      });
    },
    fetchPieChart() {
      const chart = this.pieChart;
      getCategoriesData(this.appId).then(res => {
        if (res.status) {
          this.$$message.error(res.msg || "获取数据失败，请稍后重试。");
          return;
        }
        const dv = new DataView().source(res.data);
        chart.origin = dv.origin;
        chart.data = dv.rows;
      });
    },
    fetchList() {
      const chart = this.top10List;
      getTop10Data(this.appId).then(res => {
        if (res.status) {
          this.$$message.error(res.msg || "获取数据失败，请稍后重试。");
          return;
        }
        chart.data = res.data;
      });
    },
    /* ---------- LIB ---------- */
    displayDataView(chartRefName) {
      this.$refs.copyModal.open(this.$refs[chartRefName][0].getDataView());
    },
    disabledDate(current) {
      return current.isAfter(moment());
    }
  }
};
</script>

<style lang="less" scoped>
.title {
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
.headTitle {
  background-color: #fff;
  padding: 0 20px;
  line-height: 52px;
}
.extra-wrapper {
  line-height: 55px;
  padding-right: 24px;

  .extra-item {
    display: inline-block;
    margin-right: 24px;

    a {
      margin-left: 24px;
    }
  }
}
</style>
