<template>
  <!-- 纪录片数据 -->
  <a-card :bordered="false">
    <div class="table-page-search-wrapper">
      <SearchForm
        :queryField="queryField"
        :queryParam="queryParam"
        @queryFilter="queryFilter"
        @clearQuery="clearQuery"
      ></SearchForm>
    </div>

    <a-table
      ref="table"
      :rowKey="row => row.itemId"
      :columns="columns"
      :dataSource="loadData"
      :pagination="pagination"
      :loading="loading"
      @change="tableChange"
    >
      <template v-slot:toThousands="val">
        {{ val | toThousands }}
      </template>
    </a-table>
  </a-card>
</template>

<script>
import { mapGetters } from "vuex";
import { getVideoDataList } from "@/api/dashboard";
import SearchForm from "@/components/SearchForm";
import { readFromList, toThousands } from "@/utils/common";

export default {
  name: "videoData",
  components: { SearchForm },
  data() {
    return {
      queryField: {
        itemId: {
          label: "剧集ID"
        },
        name: {
          label: "剧集名称"
        }
      },
      // 查询参数
      queryParam: {},
      // 分页参数
      listParam: {
        page: 1,
        pageSize: 20
      },
      pagination: { pageSize: 20, total: 0 },
      // 表格
      columns: [
        {
          title: "剧集ID",
          dataIndex: "itemId"
        },
        {
          title: "剧集名称",
          dataIndex: "name"
        },
        {
          title: "播放量",
          dataIndex: "impPv",
          scopedSlots: { customRender: "toThousands" }
        },
        {
          title: "播放用户数",
          dataIndex: "uv",
          scopedSlots: { customRender: "toThousands" }
        },
        {
          title: "播放时长",
          dataIndex: "playTime",
          scopedSlots: { customRender: "toThousands" }
        },
        {
          title: "广告曝光数",
          dataIndex: "adImpPv",
          scopedSlots: { customRender: "toThousands" }
        },
        {
          title: "广告曝光用户数",
          dataIndex: "adUv",
          scopedSlots: { customRender: "toThousands" }
        }
      ],
      loadData: [],
      // loading
      loading: false,
      // 映射接口
      map: {}
    };
  },
  // created() {
  // this.getMaps();
  // this.fetch();
  // },
  methods: {
    ...mapGetters(["appId"]),
    /* ---------- 获取数据/后端搜索/分页 ---------- */
    fetch() {
      this.loading = true;
      getVideoDataList(
        this.appId(),
        Object.assign({}, this.listParam, this.queryParam)
      ).then(res => {
        // input data
        this.loadData = res.pageBean.list;
        this.pagination.total = res.pageBean.allRow;
        this.loading = false;
      });
    },
    /* ---------- 获取映射表 ---------- */
    // getMaps() {
    //   getAppMap(["media", "abut", "status"]).then(map => {
    //     this.map = map;
    //     // ({ mediaMap,abutMap, statusMap })
    //   });
    // },
    /* ---------- 标准流程 ---------- */
    // 使用映射表
    readFromList,
    // 搜索逻辑：
    queryFilter(queryData) {
      this.listParam.page = 1;
      if (queryData) {
        this.queryParam = queryData;
      }
      this.fetch();
    },
    // 清空搜索
    clearQuery() {
      this.queryParam = {};
      this.fetch();
    },
    // 后端分页逻辑
    tableChange(pagination, filters, sorter) {
      // console.log({ pagination, filters, sorter });
      if (pagination.current !== this.listParam.page) {
        this.listParam = {
          page: pagination.current,
          pageSize: pagination.pageSize
        };
        this.fetch();
      }
    },
    // 处理弹窗提交后关闭的数据刷新
    handleOk() {
      this.fetch();
    }
  },
  filters: { toThousands }
};
</script>
