<template>
  <a-card :bordered="false">
    <AppVideoDetail :appId="appId" />
  </a-card>
</template>

<script>
import { mapState } from "vuex";
import AppVideoDetail from "@/views/appsManagement/appVideoDetail";
export default {
  name: "AppContentsCenter",
  components: { AppVideoDetail },
  computed: {
    ...mapState({
      appId: state => state.user.appId
    })
  }
};
</script>
