<template>
  <div>
    <div class="item" v-for="color in colors" :style="`background-color: ${color}`"></div>
    <div>测试可选链{{getObj()}}</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      colors: [
        "#3e6a38",
        "#558555",
        "#72a769",
        "#96bf87",
        "#b4d7a3",
        "#d3e7c7"
      ],
      obj: { foo: { bar: { baz: 42 } } }
    };
  },
  methods: {
    getObj() {
      console.log("123");
      return this.obj?.foo?.bar?.baz;
    }
  }
};
</script>

<style scoped>
.item {
  height: 50px;
}
</style>