<template>
  <div class="logo">
    <router-link :to="{name:'index'}">
      <img src="/favicon.ico" />
      <h1 v-if="showTitle">{{ title }}</h1>
    </router-link>
  </div>
</template>

<script>
import LogoSvg from "../LogoSvg";

export default {
  name: "Logo",
  components: {
    LogoSvg
  },
  props: {
    title: {
      type: String,
      default: "风尚内容开放平台",
      required: false
    },
    showTitle: {
      type: Boolean,
      default: true,
      required: false
    }
  }
};
</script>

<style>
.logoSvg {
  transform: scale(0.471, 1);
}
</style>
