<template>
  <div class="user-wrapper">
    <div class="content-box">
      <a-select
        style="width:8em"
        @change="handleSwitchPermission"
        v-model="appSelect.value"
      >
        <a-select-option v-for="item in appSelect.list" :key="item.value">{{
          item.label
        }}</a-select-option>
      </a-select>
      <span
        class="action ant-dropdown-link user-dropdown-menu"
        @click="handleLogout"
      >
        <span>退出登录</span>
      </span>
    </div>
  </div>
</template>

<script>
import NoticeIcon from "@/components/NoticeIcon";
import { mapActions, mapGetters } from "vuex";
import { createRoleObj } from "@/rolesPermissionList";
import { resetRoutes } from "@/router";
import { map2list } from "@/utils/common";

export default {
  name: "UserMenu",
  components: {
    NoticeIcon
  },
  data() {
    return {
      type: 0,
      appSelect: {
        value: 0,
        list: []
      }
    };
  },
  created() {
    const { appMap, type } = this.userInfo();
    let temp = [];
    if (type === 1 || type === 2) {
      temp = [{ label: "管理后台", value: "userType" + type }];
    }
    this.appSelect.list = temp.concat(map2list(appMap));
    this.init();
  },
  methods: {
    ...mapGetters(["userInfo", "appId"]),
    ...mapActions(["Logout", "UpdateAPPID"]),
    handleLogout() {
      const that = this;

      this.$confirm({
        title: "提示",
        content: "真的要注销登录吗?",
        onOk() {
          return that
            .Logout({})
            .then(() => {
              window.location.reload();
            })
            .catch(err => {
              that.$message.error({
                title: "错误",
                description: err.message
              });
            });
        },
        onCancel() {}
      });
    },
    handleSwitchPermission(val) {
      val.toString().match(/^userType(\d*)/);
      const roleType = RegExp.$1 || 3;
      const appId = RegExp.$1 ? 0 : val;
      const store = this.$store;
      this.UpdateAPPID(appId);
      store
        .dispatch("GenerateRoutes", {
          roles: createRoleObj(roleType)
        })
        .then(() => {
          resetRoutes(store.getters.addRouters);
          this.$router.push({ path: "/dashboard/" });
        });
    },
    init() {
      const appId = this.appId() || this.appSelect.list[0].value;
      this.UpdateAPPID(appId);
      const store = this.$store;
      this.appSelect.value = appId || this.appSelect.list[0].value;
    }
  }
};
</script>
