<template>
  <div class="detail-list">
    <a-row
      :gutter="10"
      type="flex"
      v-for="(opt, field) in fieldsMap"
      :key="field"
    >
      <!-- 分隔线 -->
      <template v-if="opt.type === 'divider'">
        <a-col :span="24">
          <a-divider
            class="formDivider"
            orientation="left"
            v-bind="opt.props"
            >{{ opt.label }}</a-divider
          >
        </a-col>
      </template>
      <!-- 内置格式：ArrayStr ObjectList toThousands timestamp -->
      <template v-else>
        <a-col :sm="6" class="title">{{ opt.label }}</a-col>
        <a-col
          :sm="18"
          class="content"
          :class="opt.class"
          v-if="opt.detailSlot"
        >
          <!-- JSON格式化 -->
          <template v-if="opt.detailSlot === 'ArrayString'">{{
            JSON.parse(detail[field]).join("，") || "<无>"
          }}</template>
          <!-- 数组转字符串 -->
          <template v-else-if="opt.detailSlot === 'Array'">{{
            Array.isArray(detail[field]) ? detail[field].join("，") : "<无>"
          }}</template>
          <!-- 直取label -->
          <template v-else-if="opt.detailSlot === 'ObjectList'">{{
            Array.isArray(detail[field])
              ? detail[field].map(el => el.label || el).join("，")
              : "<无>"
          }}</template>
          <!-- 千分位计数法 -->
          <template v-else-if="opt.detailSlot === 'toThousands'">
            {{ +detail[field] | toThousands }}
          </template>
          <!-- 时间戳 -->
          <template v-else-if="opt.detailSlot === 'timestamp'">
            {{ detail[field] | formatTime }}
          </template>
          <template v-else-if="opt.detailSlot === 'timestamp2date'">
            {{ detail[field] | formatDate }}
          </template>
          <!-- 图片 -->
          <template v-else-if="opt.detailSlot === 'uploadImage'">
            {{ void (imgList = detail[field]) }}
            <img
              v-for="img in imgList"
              :key="img.uid"
              class="previewImage"
              :src="img.url || img.thumbUrl"
              alt="缩略图预览"
            />
          </template>
          <template v-else-if="opt.detailSlot === 'image'">
            {{
              void (imgList = Array.isArray(detail[field])
                ? detail[field]
                : [detail[field]])
            }}
            <img
              v-for="imgUrl in imgList"
              :key="imgUrl"
              class="previewImage"
              :src="imgUrl"
              alt="缩略图预览"
            />
          </template>
          <!-- 自定义 -->
          <slot
            v-else-if="opt.detailSlot"
            :name="opt.detailSlot.toString()"
            v-bind="{ value: detail[field], field, detail }"
            >{{ detail[field] }}</slot
          >
        </a-col>
        <!-- 无指定详情模版 -->
        <a-col v-else :sm="18" class="content" :class="opt.class">
          <!-- type === "date" -->
          <template v-if="opt.type === 'date'">
            {{ detail[field].format("YYYY/MM/DD") }}
          </template>
          <template v-else-if="opt.type === 'dateRange'">
            {{
              detail[field].length
                ? detail[field].map(el => el.format("YYYY/MM/DD")).join(" ~ ")
                : "<无>"
            }}</template
          >
          <template v-else>
            <!-- {{ field }}---{{ detail[field] }}---{{ opt.list }} -->
            {{
              [undefined, null, ""].indexOf(detail[field]) === -1
                ? opt.list
                  ? readFromList(detail[field], opt.list)
                  : detail[field]
                : "<无>"
            }}
          </template>
        </a-col>
      </template>
    </a-row>
  </div>
</template>

<script>
import {
  toThousands,
  readFromList,
  formatDate,
  formatTime
} from "@/utils/common";
export default {
  name: "DetailList",
  props: {
    fieldsMap: Object,
    detail: Object
  },
  methods: {
    readFromList,
    equalItem(val, item, type = "value") {
      if (type === "value" && "" + item.value === "" + val) {
        return item;
      } else if (type === "label" && "" + item.label === "" + val) {
        return item;
      } else if (
        type === "item" &&
        "" + item.label === "" + val.label &&
        "" + item.value === "" + val.value
      ) {
        return item;
      }
      return undefined;
    }
  },
  filters: {
    toThousands,
    formatDate,
    formatTime
  }
};
</script>

<style lang="less" scoped>
[class^="ant-row"] {
  margin-bottom: 18px;
}
.ant-col {
  line-height: 39px;
  // font-size: 14px;
}
.title {
  color: rgba(0, 0, 0, 0.85);
  text-align: right;
  font-size: 14px;
  font-weight: normal;
}
.title:after {
  content: ":";
  margin: 0 8px 0 2px;
  position: relative;
  top: -0.5px;
}
.content {
  word-break: break-all;
  margin: 0 !important;
}
.previewImage {
  max-width: 320px;
}
</style>
