<template>
  <!-- Real Form Input Here -->
  <a-input-group compact>
    <template v-for="(itemDesc, itemField) in fieldDesc.children">
      <!-- input -->
      <a-input
        :key="itemField"
        v-model="itemValue[itemField]"
        v-if="!itemDesc.type || itemDesc.type === 'text'"
        v-bind="itemDesc.props"
        @change="
          e => {
            handleTxtChange(itemField, e.target.value);
          }
        "
      />
      <!-- Number -->
      <a-input-number
        v-if="itemDesc.type === 'number'"
        :key="itemField"
        v-model="itemValue[itemField]"
        v-bind="itemDesc.props"
        @change="
          val => {
            handleNumberChange(itemField, val);
          }
        "
      />
      <!-- Select -->
      <a-select
        :key="itemField"
        v-model="itemValue[itemField]"
        v-if="itemDesc.type === 'select'"
        :placeholder="
          itemDesc.inputSearch ? '输入文字进行搜索' : '选择一项进行搜索'
        "
        :showSearch="itemDesc.inputSearch"
        :optionFilterProp="itemDesc.inputSearch && 'children'"
        v-bind="itemDesc.props"
        @change="
          val => {
            handleSelectChange(itemField, val);
          }
        "
        :notFoundContent="'--无结果--'"
      >
        <a-select-option v-for="item in itemDesc.list" :key="item.value">{{
          item.label
        }}</a-select-option>
      </a-select>
    </template>
  </a-input-group>
</template>

<script>
export default {
  name: "FormItemWithChildren",
  props: ["value", "field", "fieldDesc", "formItemLayout"],
  data() {
    return {
      itemValue: {}
    };
  },
  watch: {
    value: function(newVal) {
      this.itemValue = { ...newVal };
    }
  },
  methods: {
    handleNumberChange(field, val) {
      this.triggerChange({ [field]: val });
    },
    handleSelectChange(field, val) {
      this.triggerChange({ [field]: val });
    },
    handleTxtChange(field, val) {
      this.triggerChange({ [field]: val });
    },
    triggerChange(changedValue) {
      // Should provide an event to pass value to Form.
      this.$emit("change", Object.assign({}, this.itemValue, changedValue));
    }
  }
};
</script>
