<template>
  <div class="hiddenUpload">
    <a-upload
      :name="name"
      :fileList="fileList"
      @change="uploadHandleChange"
      :customRequest="customRequest"
    >
      <div ref="upload">upload</div>
    </a-upload>
  </div>
</template>

<script>
export default {
  name: "HiddenUpload",
  props: {
    name: {
      type: String,
      default: "file"
    },
    preFileList: Array,
    uploadAPI: Function,
    uploadParams: Object,
    okMsg: {
      type: String,
      default: "导入文件成功！"
    },
    errMsg: {
      type: String,
      default: "导入文件失败，请稍后重试！"
    }
  },
  data() {
    return {
      fileList: []
    };
  },
  methods: {
    click() {
      if (this.preFileList) {
        this.fileList = [...this.preFileList];
      }
      this.$refs.upload.click();
    },
    // 修改文件：
    uploadHandleChange(info) {
      let fileList = [...info.fileList];
      fileList = fileList.slice(-1); // 目前只能放一个
      fileList = fileList.map(file => {
        if (file.response) {
          file.url = file.response.url;
        }
        return file;
      });
      this.fileList = fileList;
      info.fileList = fileList;
      this.$emit("change", info);
    },
    // 上传文件
    customRequest({ file, onError, onProgress, onSuccess }) {
      const sendFile = new FormData();
      sendFile.append("file", file);
      let percent = 0;
      const timer = setInterval(() => {
        percent = percent + 4 + +(Math.random() * 6).toFixed(2);
        percent = percent > 100 ? 100 : percent;
        onProgress({ percent }, file);
      }, 100);

      this.uploadAPI(
        Object.assign({}, this.uploadParams, { [this.name]: sendFile }),
        onProgress
      )
        .then(res => {
          clearInterval(timer);
          if (res.status != 0) {
            this.$error({
              title: "上传失败",
              content: res.msg || this.errMsg
            });
            onError();
          } else {
            this.$message.success(this.okMsg);
            onSuccess(res, file);
            this.$emit("ok", res);
          }
        })
        .catch(err => {
          clearInterval(timer);
          onError(err);
        });
    }
  }
};
</script>

<style>
.hiddenUpload {
  display: inline-block;
  position: relative;
  margin: auto 1em;
}
</style>
