<template>
  <!-- logo -->
  <div class="full-logo" style="visibility: inherit; opacity: 1;">
    <svg style="display: none" xmlns="http://www.w3.org/2000/svg" version="1.1" class>
      <symbol id="logo-frag-1">
        <g stroke="none" stroke-width="1" fill-rule="evenodd">
          <path
            d="M41.88,86.26 C31.4598174,58.4507329 31.4598174,27.8092671 41.88,0 L0.92,0 C6.09992659,13.7746916 8.74256447,28.3735718 8.72,43.09 C8.74021279,57.8349316 6.08732243,72.4614038 0.89,86.26 L41.88,86.26 Z"
          />
        </g>
      </symbol>
      <symbol id="logo-frag-2">
        <g stroke="none" stroke-width="1" fill-rule="evenodd">
          <path
            d="M41,43.09 C41.0299143,29.8707503 38.3869729,16.7818975 33.23,4.61 C32.57,3.05 31.88,1.51 31.14,0 L0.59,0 C5.78605021,13.7986385 8.4356204,28.4254856 8.41,43.17 C8.4333382,57.8855996 5.79416986,72.4840288 0.62,86.26 L31.1,86.26 C31.8533333,84.7066667 32.5633333,83.1433333 33.23,81.57 C38.3851234,69.3975305 41.0279878,56.3090593 41,43.09 Z"
          />
        </g>
      </symbol>
      <symbol id="logo-frag-3">
        <g stroke="none" stroke-width="1" fill-rule="evenodd">
          <path
            d="M0,86.26 L26.84,86.26 C27.57,84.74 28.27,83.21 28.93,81.65 C34.0780028,69.4756766 36.717307,56.3879929 36.69,43.17 C36.717307,29.9520071 34.0780028,16.8643234 28.93,4.69 C28.2633333,3.09666667 27.5533333,1.53333333 26.8,0 L0,0 L0,86.26 Z"
          />
        </g>
      </symbol>
      <symbol id="logo-text">
        <path
          d="M.057 62c.02 0 .039.01.05.029.323.54.821.948 1.408 1.156h9.038c.53 0 .84-.728.955-1.064a.06.06 0 01.056-.04.06.06 0 01.057.04c.241.672.369 1.38.379 2.096 0 1.217-.86 1.602-1.239 1.602H1.523a2.69 2.69 0 00-1.417 1.152.056.056 0 01-.065.027A.058.058 0 010 66.94v-4.88A.058.058 0 01.057 62c-.005 0-.01 0-.014-.002A.058.058 0 010 61.944v-4.888c0-.026.018-.048.043-.054a.056.056 0 01.063.027c.326.542.823.953 1.41 1.164h9.037c.53 0 .84-.737.955-1.075a.06.06 0 01.056-.04.06.06 0 01.057.04c.241.677.37 1.39.379 2.11 0 1.222-.86 1.61-1.239 1.61H1.523a2.719 2.719 0 00-1.417 1.133.057.057 0 01-.05.029zM0 40.94V40.922c0-.007.002-.014.004-.02C.106 40.146.746 37 4.217 37c3.226 0 4.446 2.717 4.78 3.705a.063.063 0 01-.025.07.056.056 0 01-.072-.009c-.385-.453-1.403-1.276-3.684-1.276a9.455 9.455 0 00-4.93 1.378h10.477c.467-.15.866-.447 1.131-.841a.058.058 0 01.065-.025.054.054 0 01.041.054v3.022c0 .03-.025.054-.057.054H1.237a2.188 2.188 0 00-1.131.841.058.058 0 01-.065.025.054.054 0 01-.041-.054V40.94zm3.049-16.027a.053.053 0 010 .065.058.058 0 01-.065.019C2.281 24.763 0 23.811 0 21.53 0 20.15 1.285 18 4.395 18c2.27 0 4.223 1.135 4.604 3.022a.054.054 0 01-.026.059.059.059 0 01-.066-.004 5.29 5.29 0 00-3.102-.913c-2.646 0-3.763 1.46-3.763 2.607 0 .897.703 1.777 1.007 2.142zm5.95-2.664C8.617 24.895 5.528 25 5.058 25a.06.06 0 01-.042-.016.048.048 0 01-.015-.038v-3.892c0-.014.007-.028.018-.038A.065.065 0 015.061 21h.254c.034 0 .061.024.061.054v1.714s2.067.065 3.534-.577a.072.072 0 01.063.006.056.056 0 01.027.052zM3.05 74.913a.053.053 0 010 .065.058.058 0 01-.064.019C2.28 74.76 0 73.807 0 71.53 0 70.15 1.285 68 4.395 68 6.665 68 8.62 69.135 9 71.019a.058.058 0 01-.026.056.063.063 0 01-.065.002 5.264 5.264 0 00-3.102-.913c-2.647 0-3.764 1.46-3.764 2.607 0 .897.703 1.777 1.007 2.142zM9 72.251c-.383 2.642-3.472 2.766-3.942 2.748-.032-.002-.057-.026-.057-.055v-3.89c0-.014.006-.028.018-.038A.065.065 0 015.061 71h.254c.033 0 .06.024.06.054v1.711s2.068.066 3.535-.572a.072.072 0 01.063.006.056.056 0 01.027.052zM1.28 30.13c-.482.151-.895.448-1.17.842a.06.06 0 01-.067.025.054.054 0 01-.042-.054v-3.888a.054.054 0 01.042-.054.06.06 0 01.067.025 2.26 2.26 0 001.17.841H7.72a2.26 2.26 0 001.17-.841.06.06 0 01.068-.025.054.054 0 01.042.054v3.022c0 .03-.026.054-.059.054H1.28zm.005 4.016a2.248 2.248 0 00-1.175.826.06.06 0 01-.067.025C.016 34.991 0 34.97 0 34.945v-3.81c0-.023.016-.045.042-.052a.06.06 0 01.067.025c.275.385.684.677 1.163.826h6.35c.52 0 .8-.615.909-.9A.058.058 0 018.585 31c.024 0 .046.013.054.034.229.563.35 1.158.361 1.759 0 1.04-.822 1.354-1.164 1.354H1.284zM1.28 49.12a2.254 2.254 0 00-1.17.853.06.06 0 01-.068.025.054.054 0 01-.042-.053v-3.89a.054.054 0 01.042-.053.06.06 0 01.067.025c.277.391.689.686 1.17.838H7.72a2.259 2.259 0 001.17-.838.06.06 0 01.068-.025.054.054 0 01.042.053v3.012c0 .03-.026.053-.059.053H1.28zm8.738-2.774l.325-.329a.06.06 0 01.084 0c.764.834.764 2.13 0 2.964a.057.057 0 01-.084 0l-.325-.332a.06.06 0 010-.082 1.59 1.59 0 000-2.143.051.051 0 010-.078zM1.28 14.132a2.26 2.26 0 00-1.17.841.06.06 0 01-.068.025.054.054 0 01-.042-.054v-3.888a.054.054 0 01.042-.054.06.06 0 01.067.025c.276.392.689.687 1.17.837H7.72c.482-.15.895-.445 1.17-.837a.06.06 0 01.068-.025.054.054 0 01.042.054v3.023c0 .03-.026.053-.059.053H1.28zM9 16.5a2.174 2.174 0 01-.577 1.484.06.06 0 01-.084 0l-.324-.332a.06.06 0 010-.078 1.588 1.588 0 000-2.14.068.068 0 010-.082l.324-.332a.057.057 0 01.084 0c.371.4.577.93.577 1.48zm3-14.552c.004.024-.017.046-.047.052-.03.005-.062-.007-.073-.03C11.223 1.13 10.228.472 9.04.09 9.01.083 8.995.06 9 .038c.006-.022.033-.038.063-.037h2.874c.034 0 .061.02.061.046v1.901zM1.514 6.807A2.72 2.72 0 00.106 7.972a.056.056 0 01-.065.027A.058.058 0 010 7.94V3.056c0-.026.018-.048.043-.054a.056.056 0 01.063.027c.327.534.825.936 1.41 1.14h10.427c.032 0 .057.026.057.058V6.75a.057.057 0 01-.057.058H1.515zM12 9.963c-.006.022-.03.037-.058.038H9.064c-.03.001-.057-.015-.063-.037-.006-.023.01-.045.039-.054 1.183-.38 2.178-1.037 2.84-1.874.008-.02.032-.035.06-.035.028 0 .053.014.06.035v1.927zM1.28 88.132a2.26 2.26 0 00-1.17.841.06.06 0 01-.068.025.054.054 0 01-.042-.054v-3.888a.054.054 0 01.042-.054.06.06 0 01.067.025 2.26 2.26 0 001.17.841H7.72a2.26 2.26 0 001.17-.841.06.06 0 01.068-.025.054.054 0 01.042.054v3.022c0 .03-.026.054-.059.054H1.28zm8.738-1.785l.325-.328a.057.057 0 01.084 0c.764.833.764 2.13 0 2.964a.06.06 0 01-.084 0l-.325-.333a.051.051 0 010-.078 1.59 1.59 0 000-2.143.055.055 0 010-.082zm-8.781-3.215a2.188 2.188 0 00-1.131.841.058.058 0 01-.065.025.054.054 0 01-.041-.054v-3.022c0-.014.006-.028.017-.038a.058.058 0 01.04-.016h10.706a2.188 2.188 0 001.131-.841.058.058 0 01.065-.025.054.054 0 01.041.054v3.022c0 .03-.025.054-.057.054H1.237zm3.979-4.646a9.46 9.46 0 00-5.13 1.507.056.056 0 01-.06-.004.063.063 0 01-.026-.058C.09 79.23.7 76 4.217 76c3.226 0 4.446 2.717 4.78 3.705a.063.063 0 01-.025.07.056.056 0 01-.072-.009c-.385-.457-1.403-1.28-3.684-1.28zM12 55.92c0 .045-.034.081-.076.081H0v-3.937a.06.06 0 01.041-.06.055.055 0 01.065.028c.324.568.822.998 1.41 1.216h8.969a2.726 2.726 0 001.409-1.216.055.055 0 01.065-.029.06.06 0 01.041.061v3.856zM.13 97.946c-.01.038-.045.061-.08.052-.035-.01-.057-.047-.048-.085v-3.56h7.77c.378.03.752-.09 1.052-.336A.055.055 0 018.876 94a.06.06 0 01.041.036c.063.215.09.44.081.664 0 1.206-.684 2.271-1.48 2.271H1.289a2.29 2.29 0 00-1.16.974zM9 92.498a2.171 2.171 0 01-.577 1.483.057.057 0 01-.084 0l-.325-.332a.067.067 0 010-.081 1.585 1.585 0 000-2.14.067.067 0 010-.081l.325-.328a.057.057 0 01.084 0c.37.4.577.929.577 1.479zm-6.838-.378a2.048 2.048 0 00-1.771.854.049.049 0 01-.044.026.049.049 0 01-.043-.026c-.201-.374-.305-.79-.302-1.21a1.655 1.655 0 01.538-1.29c.364-.335.86-.506 1.365-.469 1.66 0 2.796 2.201 3.092 2.866a.049.049 0 01-.016.057.054.054 0 01-.06.003 4.888 4.888 0 00-2.759-.811z"
          fill="#283032"
          fill-rule="nonzero"
        />
      </symbol>
      <symbol id="brand-logo-text">
        <path
          d="M64.217 0c1.153 0 1.56.772 1.599 1.175l.003.064v9.238a2.69 2.69 0 001.152 1.417.056.056 0 01-.006.101L66.94 12h-4.88a.058.058 0 01-.058-.041.056.056 0 01.027-.065c.48-.288.856-.713 1.08-1.217l.076-.192V1.447c0-.53-.728-.84-1.064-.955a.06.06 0 01-.04-.056.06.06 0 01.04-.057A6.482 6.482 0 0164.217 0zM21.08 3.027c.012.02.01.047-.004.066a5.29 5.29 0 00-.913 3.102c0 2.646 1.46 3.763 2.607 3.763.897 0 1.777-.703 2.142-1.007a.053.053 0 01.065 0c.019.015.027.041.019.065C24.763 9.719 23.811 12 21.53 12 20.15 12 18 10.715 18 7.605c0-2.27 1.135-4.223 3.022-4.604a.054.054 0 01.059.026zM71.019 3a.058.058 0 01.056.026c.013.02.013.045.002.065a5.264 5.264 0 00-.913 3.102c0 2.647 1.46 3.764 2.607 3.764.897 0 1.777-.703 2.142-1.007a.053.053 0 01.065 0c.019.015.027.04.019.064C74.76 9.72 73.807 12 71.53 12 70.15 12 68 10.715 68 7.605 68 5.335 69.135 3.38 71.019 3zM30.078 3c.02 0 .037.012.046.029l.008.03v7.661c.15.483.447.896.841 1.17a.06.06 0 01.025.068.057.057 0 01-.03.037l-.024.005h-3.888a.054.054 0 01-.054-.042.06.06 0 01.025-.067c.344-.242.613-.588.778-.993l.063-.178V4.28a2.26 2.26 0 00-.841-1.17.06.06 0 01-.025-.068.057.057 0 01.03-.037L27.056 3h3.022zm2.715 0c.98 0 1.315.729 1.35 1.099l.004.065v6.552c.148.483.439.897.826 1.175a.06.06 0 01.025.067.057.057 0 01-.03.037l-.023.005h-3.81c-.023 0-.045-.016-.052-.042a.06.06 0 01.025-.067c.337-.24.602-.584.764-.987l.062-.176v-6.35c0-.52-.615-.8-.9-.909A.058.058 0 0131 3.415c0-.024.013-.046.034-.054A4.892 4.892 0 0132.793 3zm16.274 0c.02 0 .037.012.046.029l.007.03v7.661c.156.484.456.897.853 1.17a.06.06 0 01.025.068.057.057 0 01-.03.037l-.023.005h-3.89a.054.054 0 01-.053-.042.06.06 0 01.025-.067c.342-.242.611-.588.775-.993l.063-.178V4.28a2.259 2.259 0 00-.838-1.17.06.06 0 01-.025-.068.057.057 0 01.03-.037L46.055 3h3.012zM14.079 3c.02 0 .037.012.046.029l.007.03v7.661c.153.482.449.894.841 1.17a.06.06 0 01.025.068.057.057 0 01-.03.037l-.024.005h-3.888a.054.054 0 01-.054-.042.06.06 0 01.025-.067c.343-.242.612-.588.774-.993l.063-.178V4.28a2.237 2.237 0 00-.837-1.17.06.06 0 01-.025-.068.057.057 0 01.03-.037L11.056 3h3.023zm-7.33-3c.022 0 .04.011.051.028l.008.029v10.428a2.72 2.72 0 001.163 1.409.056.056 0 01-.006.101L7.94 12H3.056a.058.058 0 01-.054-.043.056.056 0 01.027-.063 2.701 2.701 0 001.065-1.218l.075-.191V.057c0-.021.011-.04.029-.05L4.227 0H6.75zm36.329 0c.02 0 .037.011.046.028l.008.029v10.706c.152.466.448.864.841 1.131a.058.058 0 01-.005.101l-.024.005h-3.022l-.012-.003c-.74-.099-3.91-.73-3.91-4.214 0-3.226 2.717-4.446 3.705-4.78a.063.063 0 01.07.025.056.056 0 01-.009.072c-.453.385-1.276 1.403-1.276 3.684a9.45 9.45 0 001.311 4.818l.067.109V1.237a2.162 2.162 0 00-.841-1.131.058.058 0 01.005-.101L40.056 0h3.022zm16.15 0c1.158 0 1.567.772 1.607 1.175l.003.064v9.238a2.719 2.719 0 001.133 1.417.056.056 0 01-.003.1l-.024.006h-4.888a.058.058 0 01-.054-.043.056.056 0 01.027-.063c.482-.29.86-.715 1.086-1.217l.078-.192V1.447c0-.53-.737-.84-1.075-.955a.06.06 0 01-.04-.056.06.06 0 01.04-.057A6.545 6.545 0 0159.228 0zm28.85 3c.02 0 .037.012.046.029l.008.03v7.661c.152.482.448.894.841 1.17a.06.06 0 01.025.068.057.057 0 01-.03.037l-.024.005h-3.888a.054.054 0 01-.054-.042.06.06 0 01.025-.067c.344-.242.613-.588.778-.993l.063-.178V4.28a2.26 2.26 0 00-.841-1.17.06.06 0 01-.025-.068.057.057 0 01.03-.037L85.056 3h3.022zm-5-3c.02 0 .037.011.046.028l.008.029v10.706c.152.466.448.864.841 1.131a.058.058 0 01-.005.101l-.024.005h-3.022a.052.052 0 01-.038-.017l-.011-.018-.005-.022V1.237a2.188 2.188 0 00-.841-1.131.058.058 0 01.005-.101L80.056 0h3.022zm-27.16 0c.034 0 .063.02.076.046l.006.03V12h-3.937a.06.06 0 01-.06-.041.055.055 0 01.028-.065c.504-.288.9-.713 1.135-1.217l.08-.192v-8.97A2.726 2.726 0 0052.032.106a.055.055 0 01-.029-.065.058.058 0 01.035-.036L52.063 0h3.856zm23.858 3.028a.056.056 0 01-.01.072c-.457.385-1.28 1.403-1.28 3.684a9.46 9.46 0 001.507 5.13c.01.02.01.043-.004.06a.063.063 0 01-.058.026c-.7-.09-3.931-.7-3.931-4.217 0-3.226 2.717-4.446 3.705-4.78a.063.063 0 01.07.025zM92.87 7.003a.049.049 0 01.057.016.054.054 0 01.003.06 4.888 4.888 0 00-.811 2.759 2.048 2.048 0 00.854 1.771.049.049 0 01.026.044c0 .018-.01.035-.026.043-.374.201-.79.305-1.21.302a1.655 1.655 0 01-1.29-.538 1.815 1.815 0 01-.469-1.365c0-1.66 2.201-2.796 2.866-3.092zm1.83-4.001c1.148 0 2.17.62 2.264 1.367l.007.113v6.229c.177.477.52.885.974 1.16.038.008.061.044.052.079a.068.068 0 01-.048.047l-.037.001h-3.56v-7.77c.03-.378-.09-.752-.336-1.052A.055.055 0 0194 3.124a.06.06 0 01.036-.041c.215-.063.44-.09.664-.081zM72.25 3c2.642.384 2.766 3.473 2.748 3.943a.062.062 0 01-.028.05L74.944 7h-3.89a.051.051 0 01-.038-.018l-.012-.02L71 6.94v-.254c0-.022.01-.042.027-.053l.027-.008h1.711s.066-2.067-.572-3.534a.072.072 0 01.006-.063.056.056 0 01.052-.027zM22.249 3C24.895 3.384 25 6.473 25 6.943a.06.06 0 01-.016.042l-.018.012-.02.003h-3.892a.052.052 0 01-.038-.018l-.012-.02L21 6.939v-.254c0-.022.01-.042.027-.053l.027-.008h1.714s.065-2.067-.577-3.534a.072.072 0 01.006-.063A.056.056 0 0122.25 3zm-5.75 0a2.174 2.174 0 011.484.577c.015.015.02.037.015.057l-.015.027-.332.324a.06.06 0 01-.078 0 1.588 1.588 0 00-2.14 0 .068.068 0 01-.056.013l-.026-.013-.332-.324a.057.057 0 010-.084c.4-.371.93-.577 1.48-.577zm75.999 0a2.172 2.172 0 011.483.577c.012.011.019.026.019.042l-.005.023-.014.02-.332.324a.067.067 0 01-.081 0 1.585 1.585 0 00-2.14 0 .067.067 0 01-.055.012l-.026-.012-.328-.325a.057.057 0 010-.084c.4-.37.929-.577 1.479-.577zM1.948 0c.023-.004.045.017.05.047.006.03-.006.062-.029.073C1.13.777.472 1.772.09 2.96.083 2.99.06 3.005.038 3 .022 2.995.01 2.98.004 2.964L0 2.936V.062C0 .04.01.02.023.01L.046 0h1.901zm8.014 0a.05.05 0 01.032.031L10 .058v2.878c.001.03-.015.057-.037.063-.023.006-.045-.01-.054-.039C9.53 1.777 8.872.782 8.035.12 8.015.111 8 .087 8 .06a.07.07 0 01.017-.048L8.035 0h1.927zm39.02 1.573c.011.01.018.026.018.042l-.005.023-.014.02-.332.324a.06.06 0 01-.082 0 1.59 1.59 0 00-2.143 0 .051.051 0 01-.04.018l-.02-.005-.018-.013-.329-.325a.06.06 0 010-.084 2.203 2.203 0 012.964 0zm40 0c.016.016.021.037.016.057l-.015.027-.333.325a.051.051 0 01-.078 0 1.59 1.59 0 00-2.143 0 .055.055 0 01-.04.018l-.023-.005-.019-.013-.328-.325a.057.057 0 010-.084 2.203 2.203 0 012.964 0z"
          fill="#fff"
          fill-rule="nonzero"
        />
      </symbol>
    </svg>
    <!-- 正文 -->
    <div
      class="full-logo-piece full-logo__middle"
      style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"
    >
      <svg viewBox="0 0 42 87">
        <use class="full-logo__unit" xlink:href="#logo-frag-1" />
      </svg>
    </div>
    <div class="full-logo-piece full-logo__middle-left" style="visibility: inherit; opacity: 1;">
      <svg viewBox="0 0 41 87">
        <use class="full-logo__unit" xlink:href="#logo-frag-2" />
      </svg>
    </div>
    <div class="full-logo-piece full-logo__left" style="visibility: inherit; opacity: 1;">
      <svg viewBox="0 0 37 87">
        <use class="full-logo__unit" xlink:href="#logo-frag-3" />
      </svg>
    </div>
    <div class="full-logo-piece full-logo__middle-right" style="visibility: inherit; opacity: 1;">
      <svg viewBox="0 0 41 87">
        <use class="full-logo__unit" xlink:href="#logo-frag-2" />
      </svg>
    </div>
    <div class="full-logo-piece full-logo__right" style="visibility: inherit; opacity: 1;">
      <svg viewBox="0 0 37 87">
        <use class="full-logo__unit" xlink:href="#logo-frag-3" />
      </svg>
    </div>
  </div>
</template>

<style lang="less">
#logo-frag-1 path,
#logo-frag-2 path,
#logo-frag-3 path,
#back-arrow path {
  fill: inherit;
}

use.full-logo__unit {
  fill: #e72420;
}

@width: 136px;
.full-logo {
  position: relative;
  display: inline-block;
  width: @width;
  height: calc(@width * 86.26 / 258.8);
  vertical-align: 40%;
}

.full-logo-piece {
  position: absolute;
  height: 100%;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.full-logo > div {
  visibility: hidden;
}

.full-logo-piece > svg {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.full-logo__middle {
  width: calc(@width * 40.99 / 258.8);
}

.full-logo__middle-left {
  width: calc(@width * 40.41 / 258.8);
  /* transform: translateX(calc((calc(@width * 40.99 / 258.8) + calc(@width * 15.9 / 258.8)) * -1)); */
  -webkit-transform: translateX(-140%);
  transform: translateX(-140%);
}

.full-logo__left {
  width: calc(@width * 36.69 / 258.8);
  /* transform: translateX(calc((calc(@width * 40.99 / 258.8) + calc(@width * 40.41 / 258.8) + calc(@width * 15.9 / 258.8) * 2) * -1)); */
  -webkit-transform: translateX(-308.5%);
  transform: translateX(-308.5%);
}

.full-logo__middle-right {
  width: calc(@width * 40.41 / 258.8);
  /* transform: translateX(calc((calc(@width * 40.99 / 258.8) + calc(@width * 15.9 / 258.8)) * 1)) scaleX(-1); */
  -webkit-transform: translateX(140%) scaleX(-1);
  transform: translateX(140%) scaleX(-1);
}

.full-logo__right {
  width: calc(@width * 36.69 / 258.8);
  /* transform: translateX(calc((calc(@width * 40.99 / 258.8) + calc(@width * 40.41 / 258.8) + calc(@width * 15.9 / 258.8) * 2) * 1)) scaleX(-1); */
  -webkit-transform: translateX(308.5%) scaleX(-1);
  transform: translateX(308.5%) scaleX(-1);
}

.brand-logo-text {
  width: 100%;
  position: absolute;
  top: 127.5%;
  left: 0;
  height: 50%;
}
</style>
