<template>
  <ul
    class="top10list"
    :style="{ height: height + 'px' }"
    :key="data && data.length"
  >
    <li v-for="(item, index) in data" :key="index" :class="[indexColor[index]]">
      <i class="index">{{ index+1 }}</i>
      <span class="list-title">{{ item.name }}</span>
      <span class="num">{{ item.impPv }}</span>
    </li>
  </ul>
</template>

<script>
export default {
  name: "Top10List",
  props: {
    height: { type: Number, default: 300 },
    data: Array
  },
  data() {
    return {
      indexColor: ["first", "second", "third"]
    };
  }
};
</script>

<style lang="less" scoped>
ul.top10list {
  padding: 0;
  list-style: none;
  margin: 0;
  li {
    margin-bottom: 10px;
  }
  li:hover {
    background: #f3f3f3;
  }
  i.index {
    display: inline-block;
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    border-radius: 50%;
    background-color: #99c7da;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-right: 30px;
  }
  .num {
    float: right;
  }
  li.first {
    i.index {
      background-color: #f53930;
    }
    .num {
      color: #f53930;
    }
  }
  li.second {
    i.index {
      background-color: #f79506;
    }
    .num {
      color: #f79506;
    }
  }
  li.third {
    i.index {
      background-color: #39bb7a;
    }
    .num {
      color: #39bb7a;
    }
  }
}
</style>
