<template>
  <a-modal
    title="修改用户"
    :width="840"
    :visible="visible"
    :confirmLoading="confirmLoading"
    :closable="true"
    :maskClosable="false"
    @cancel="handleCancel"
    destroyOnClose
  >
    <a-spin :spinning="confirmLoading">
      <a-steps
        :current="currentStep"
        :style="{ marginBottom: '28px' }"
        size="small"
      >
        <a-step title="填写用户信息" />
        <a-step title="确认信息并完成" />
      </a-steps>
      <!-- step0 -->
      <div v-show="currentStep === 0">
        <a-form :form="form">
          <CFormItem
            v-for="(fieldDesc, field) in fieldsMap"
            :fieldDesc="fieldDesc"
            :field="field"
            :key="field"
          ></CFormItem>
        </a-form>
      </div>
      <!-- step1 -->
      <div v-if="currentStep === 1">
        <DetailList :fieldsMap="fieldsMap" :detail="confirmData"> </DetailList>
      </div>
    </a-spin>
    <template slot="footer">
      <a-button
        key="back"
        @click="backward"
        v-if="currentStep > 0"
        :style="{ float: 'left' }"
        >上一步</a-button
      >
      <a-button key="cancel" @click="handleCancel">取消</a-button>
      <a-button
        key="forward"
        :loading="confirmLoading"
        type="primary"
        @click="handleNext(currentStep)"
      >
        {{ (currentStep === totalSteps - 1 && "完成") || "下一步" }}</a-button
      >
    </template>
  </a-modal>
</template>

<script>
import moment from "moment";
import { addUser, getUserMaps } from "@/api/user";
import CFormItem from "@/components/CFormItem";
import DetailList from "@/components/DetailList";

export default {
  name: "createUser",
  components: {
    CFormItem,
    DetailList
  },
  data() {
    return {
      totalSteps: 2,
      fieldsMap: {
        id: {
          label: "ID",
          type: "hidden",
          options: { rules: [{ required: true }], initialValue: -1 }
        },
        role: {
          label: "系统角色",
          type: "select",
          list: [],
          options: { rules: [{ required: true }], initialValue: 3 }
        },
        apps: {
          label: "应用列表",
          type: "checkbox",
          list: [],
          options: { rules: [{ required: true }] }
        }
      },
      confirmData: {},
      // 展示
      visible: false,
      confirmLoading: false,
      currentStep: 0,
      form: this.$form.createForm(this)
    };
  },
  created() {
    this.getMaps();
  },
  methods: {
    add() {},
    edit(userObj) {
      let initData = {};
      Object.keys(this.fieldsMap).forEach(field => {
        if (field === "role") {
          initData.role = userObj.type;
        } else {
          initData[field] = userObj[field];
        }
      });
      setTimeout(_ => {
        this.form.setFieldsValue(initData);
        this.confirmLoading = false;
      }, 0);
      this.visible = true;
    },
    getMaps() {
      getUserMaps(["app", "role"]).then(({ roleMap, appMap }) => {
        this.fieldsMap.role.list = roleMap;
        this.fieldsMap.apps.list = appMap;
      });
    },
    /* ---------- 表单流程 ---------- */
    handleNext(step) {
      const {
        form: { validateFields }
      } = this;
      const currentStep = step + 1;
      if (currentStep <= this.totalSteps - 1) {
        validateFields((errors, values) => {
          // console.log({ errors, values });
          if (!errors) {
            this.currentStep = currentStep;
            this.confirmData = values;
          }
        });
        return;
      }
      // last step
      this.lastStep();
    },
    lastStep() {
      const {
        form: { validateFields }
      } = this;
      validateFields((errors, values) => {
        this.confirmLoading = true;
        if (!errors) {
          const sendData = {
            ...values,
            apps: JSON.stringify(values.apps)
          };

          // console.log(sendData);
          // 确认发送数据
          addUser(sendData).then(res => {
            // console.log(res);
            if (res.status != 0) {
              this.$message.error(res.msg || "操作失败，请稍后重试！", 10);
            } else {
              this.$emit("ok", sendData);
              this.$message.success("操作成功！");
              this.handleCancel();
            }
            this.confirmLoading = false;
          });
        } else {
          this.confirmLoading = false;
        }
      });
    },
    /* ---------- 标准操作 ---------- */
    backward() {
      this.currentStep--;
    },
    handleCancel() {
      // clear form & currentStep
      this.visible = false;
      this.confirmLoading = false;
      this.currentStep = 0;
    }
  }
};
</script>

<style lang="less" scoped>
.title {
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.breakWords {
  word-break: break-all;
}
</style>
