<template>
  <!-- 用户管理 -->
  <a-card :bordered="false">
    <div class="table-page-search-wrapper">
      <SearchForm
        :queryField="queryField"
        :queryParam="queryParam"
        @queryFilter="queryFilter"
        @clearQuery="clearQuery"
      ></SearchForm>
    </div>

    <a-table
      ref="table"
      :rowKey="row => row.id"
      :columns="columns"
      :dataSource="loadData"
      :pagination="pagination"
      :loading="loading"
      @change="tableChange"
    >
      <template v-slot:type="type">{{ type | readRole }}</template>
      <template v-slot:audit="audit">{{
        readFromList(audit, map.auditMap)
      }}</template>
      <template v-slot:operation="id, row">
        <!-- <a-button @click="emailToResetPassword(id)">邮件重置密码</a-button> -->
        <a-button v-if="row.audit === 1" @click="$refs.createModal.edit(row)"
          >编辑</a-button
        >
        <template v-if="row.audit === 0">
          <a-button @click="userAudit(id, true)" ghost type="primary"
            >审核通过</a-button
          >
          <a-button @click="userAudit(id, false)" ghost type="danger"
            >审核不通过</a-button
          >
        </template>
      </template>
    </a-table>

    <!-- 修改用户权限 -->
    <CreateUser ref="createModal" @ok="handleOk" />
  </a-card>
</template>

<script>
import {
  getUserList,
  setUser,
  emailToResetPassword,
  getUserMaps,
  userAudit
} from "@/api/user";
import SearchForm from "@/components/SearchForm";
import { readFromList } from "@/utils/common";
import CreateUser from "./CreateUser";

export default {
  name: "userManagement",
  components: { SearchForm, CreateUser },
  data() {
    return {
      queryField: {
        user_name: {
          label: "登录名"
        }
      },
      // 查询参数
      queryParam: {},
      // 分页参数
      listParam: {
        page: 1,
        pageSize: 20
      },
      pagination: { pageSize: 20, total: 0 },
      // 表格
      columns: [
        {
          title: "登录名",
          dataIndex: "user_name"
        },
        {
          title: "姓名",
          dataIndex: "nick_name"
        },
        {
          title: "手机号",
          dataIndex: "phone"
        },
        {
          title: "系统角色",
          dataIndex: "type",
          scopedSlots: { customRender: "type" }
        },
        {
          title: "审核状态",
          dataIndex: "audit",
          scopedSlots: { customRender: "audit" }
        },
        {
          title: "操作",
          dataIndex: "id",
          scopedSlots: { customRender: "operation" }
        }
      ],
      loadData: [],
      // loading
      loading: false,
      // 映射接口
      map: {}
    };
  },
  created() {
    this.getMaps();
    // this.fetch();
  },
  methods: {
    /* ---------- 获取数据/后端搜索/分页 ---------- */
    fetch() {
      this.loading = true;
      getUserList(Object.assign({}, this.listParam, this.queryParam)).then(
        res => {
          // input data
          this.loadData = res.pageBean.list.map(el => {
            el.apps = JSON.parse(el.apps);
            return el;
          });
          this.pagination.total = res.pageBean.allRow;
          this.loading = false;
        }
      );
    },
    getMaps() {
      getUserMaps(["audit"]).then(map => {
        this.map = map;
      });
    },
    emailToResetPassword(id) {
      this.$confirm({
        title: "确定要修改密码吗？",
        onOk() {
          emailToResetPassword(id).then(res => {
            if (res.status) {
              this.$message.error(res.msg || "请求出错，请稍后再试");
              return;
            }
            this.$message.success(res.msg);
          });
        }
      });
    },
    userAudit(id, auditPass) {
      userAudit(id, auditPass).then(res => {
        if (res.status) {
          this.$message.error(res.msg || "操作失败！");
          return;
        }
        this.$message.success(res.msg || "操作成功！");
        this.fetch();
      });
    },
    /* ---------- 标准流程 ---------- */
    // 使用映射表
    readFromList,
    // 搜索逻辑：
   queryFilter(queryData) {
      this.listParam.page = 1;
      if (queryData) {
        this.queryParam = queryData;
      }
      this.fetch();
    },
    // 清空搜索
    clearQuery() {
      this.queryParam = {};
      this.fetch();
    },
    // 后端分页逻辑
    tableChange(pagination, filters, sorter) {
      // console.log({ pagination, filters, sorter });
      if (pagination.current !== this.listParam.page) {
        this.listParam = {
          page: pagination.current,
          pageSize: pagination.pageSize
        };
        this.fetch();
      }
    },
    // 处理弹窗提交后关闭的数据刷新
    handleOk() {
      this.fetch();
    }
  },
  filters: {
    readRole(type) {
      return ["【已取消】", "管理员", "内容运营", "开发者"][type];
    }
  }
};
</script>

<style lang="less" scoped>
.image {
  display: inline-block;
  max-width: 200px;
  img {
    display: block;
    width: 100%;
  }
}

.activeBtn {
  @normal: #52c41a;
  @active: #389e0d;
  @hover: #73d13d;
  background-color: @normal;
  border-color: @normal;
  color: #fff;
  &:active {
    background-color: @active;
    border-color: @active;
  }
  &:hover {
    background-color: @hover;
    color: #fff;
    border-color: @hover;
  }
}
</style>
