<template>
  <a-card :bordered="false">
    <a-table
      ref="table"
      :rowKey="row => row.id"
      :columns="columns"
      :dataSource="loadData"
      :pagination="false"
      :loading="loading"
    ></a-table>
  </a-card>
</template>

<script>
import { rolesPermissionList, permissionsList } from "@/rolesPermissionList";

export default {
  name: "RolesList",
  data() {
    return {
      // 表格
      columns: [
        {
          title: "角色",
          dataIndex: "name"
        },
        {
          title: "功能权限",
          dataIndex: "permissionsName"
        }
      ],
      loadData: [],
      // 需要的映射表
      rolesPermissionList: {},
      // loading
      loading: false
    };
  },
  created() {
    this.fetch();
  },
  methods: {
    // 获取数据/后端搜索/分页
    fetch() {
      this.loading = true;
      this.loadData = (() => {
        const arr = [];
        for (const key in rolesPermissionList) {
          const item = rolesPermissionList[key];
          arr.push({
            id: key,
            name: item.name,
            permissionsName: item.permissionsName
              .filter(name => ["notUser"].indexOf(name) === -1)
              .map(name => permissionsList[name])
              .join("，")
          });
        }
        return arr;
      })();
      this.loading = false;
    }
  }
};
</script>
