<template>
  <Result
    :isSuccess="true"
    :content="false"
    :title="email"
    :description="description"
  >
    <template slot="action">
      <a-button size="large" type="primary" style="margin-left: 8px" @click="goHomeHandle"
        >返回首页</a-button
      >
    </template>
  </Result>
</template>

<script>
import Result from "@/components/Result";

export default {
  name: "RegisterResult",
  components: {
    Result
  },
  data() {
    return {
      description:
        "请等待管理员审核。",
      form: {}
    };
  },
  computed: {
    email() {
      const v = (this.form && this.form.email) || "xxx";
      const title = `账户注册成功`;
      return title;
    }
  },
  created() {
    this.form = this.$route.params;
  },
  methods: {
    goHomeHandle() {
      this.$router.push({ name: "login" });
    }
  }
};
</script>

<style scoped></style>
