<template>
  <div class="main user-layout-register">
    <a-form ref="formRegister" :form="form" id="formRegister">
      <a-form-item>
        <a-input
          size="large"
          type="text"
          placeholder="邮箱"
          v-decorator="[
            'userName',
            {
              rules: [
                {
                  required: true,
                  type: 'email',
                  message: '请输入合法的邮箱地址'
                }
              ],
              validateTrigger: ['change', 'blur']
            }
          ]"
        ></a-input>
      </a-form-item>
      <a-form-item>
        <a-input
          size="large"
          type="text"
          placeholder="姓名"
          v-decorator="[
            'nickName',
            {
              rules: [
                {
                  required: true
                }
              ],
              validateTrigger: ['change', 'blur']
            }
          ]"
        ></a-input>
      </a-form-item>
      <a-form-item>
        <a-input
          size="large"
          type="text"
          placeholder="手机号"
          v-decorator="[
            'phone',
            {
              rules: [
                {
                  required: true
                },
                { validator: handlePhoneCheck }
              ],
              validateTrigger: ['change', 'blur']
            }
          ]"
        ></a-input>
      </a-form-item>
      <a-form-item>
        <a-button
          size="large"
          type="primary"
          htmlType="submit"
          class="register-button"
          :loading="registerBtn"
          @click.stop.prevent="handleSubmit"
          :disabled="registerBtn"
          >注册
        </a-button>
      </a-form-item>
      <div style="text-align:center">
        <router-link class="login" :to="{ name: 'login' }"
          >使用已有账户登录</router-link
        >
      </div>
    </a-form>
  </div>
</template>

<script>
import { mixinDevice } from "@/utils/mixin.js";
import { register } from "@/api/login";

export default {
  name: "Register",
  components: {},
  mixins: [mixinDevice],
  data() {
    return {
      form: this.$form.createForm(this),
      registerBtn: false
    };
  },
  methods: {
    handlePhoneCheck(rule, value, callback) {
      if (/^1\d{10}$/.test(value)) {
        callback();
      }else {
        callback("请输入手机号！");
      }
    },
    handleSubmit() {
      const {
        form: { validateFields },
        state,
        $router
      } = this;
      validateFields({ force: true }, (err, values) => {
        if (!err) {
          register(values).then(res => {
            if (res.status) {
              requestFailed(res);
              return;
            }
            $router.push({ name: "registerResult", params: { ...values } });
          });
        }
      });
    },

    requestFailed(err) {
      this.$notification["error"]({
        message: "错误",
        description: err.msg || "请求出现错误，请稍后再试",
        duration: 4
      });
      this.registerBtn = false;
    }
  }
};
</script>
<style lang="less">
.user-register {
  &.error {
    color: #ff0000;
  }

  &.warning {
    color: #ff7e05;
  }

  &.success {
    color: #52c41a;
  }
}

.user-layout-register {
  .ant-input-group-addon:first-child {
    background-color: #fff;
  }
}
</style>
<style lang="less" scoped>
.user-layout-register {
  & > h3 {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .register-button {
    width: 100%;
    margin: 0;
  }

  .login {
    line-height: 40px;
  }
}
</style>
