<template>
  <a-locale-provider :locale="locale">
    <div id="app">
      <router-view />
    </div>
  </a-locale-provider>
</template>

<script>
import zhCN from "ant-design-vue/lib/locale-provider/zh_CN";
import { AppDeviceEnquire } from "@/utils/mixin";

export default {
  mixins: [AppDeviceEnquire],
  data() {
    return {
      locale: zhCN
    };
  },
  mounted() {}
};
</script>
<style>
#app {
  height: 100%;
}
.breakWords {
  display: inline-block;
  word-break: break-all;
  overflow: hidden;
  max-width: 200px;
  max-height: 3em;
  overflow: auto;
}
.a-grey {
  color: rgba(0, 0, 0, 0.35);
}
.a-red {
  color: #f5222d;
}
.a-green {
  color: #52c41a;
}
.a-yellow {
  color: #f3cd49;
}
.table-page-search-wrapper {
  margin-bottom: 18px;
}
</style>
