<template>
  <!-- 专栏内容详情 -->
  <a-card :bordered="false">
    <h2>专栏名称：{{ channelTitle }}</h2>

    <a-table
      ref="table"
      :rowKey="row => row.id"
      :columns="columns"
      :dataSource="loadData"
      :pagination="pagination"
      :loading="loading"
      @change="tableChange"
    >
      <template v-slot:router-link="title, row">
        <router-link :to="{ name: 'contentDetail', params: { id: row.id } }">{{
          title
        }}</router-link>
      </template>
      <template v-slot:breakWords="string">
        <span class="breakWords" style>{{ string }}</span>
      </template>
      <template v-slot:image="src">
        <div class="image" style="overflow:hidden">
          <img :src="src" />
        </div>
      </template>
      <template v-slot:timestamp13="timestamp">
        {{ timestamp | formatDate }}
      </template>
      <template v-slot:operation="id">
        <a-button type="danger" @click="remove(id)">删除</a-button>
      </template>
    </a-table>
  </a-card>
</template>

<script>
import {
  getChannelsMap,
  getLinksList,
  removeContentFromChannel,
  updatePosition
} from "@/api/channels";
import { readFromList, formatDate } from "@/utils/common";
import Sortable from "sortablejs";

export default {
  name: "ChannelContents",
  data() {
    return {
      channel_id: this.$route.params.id,
      channelTitle: "最近观看",
      // 分页参数
      listParam: {
        page: 1,
        pageSize: 20
      },
      pagination: false,
      // 表格
      columns: [
        {
          title: "内容排序",
          dataIndex: "position"
        },
        {
          title: "内容ID",
          dataIndex: "id",
          scopedSlots: { customRender: "breakWords" }
        },
        {
          title: "内容名称",
          dataIndex: "title",
          scopedSlots: { customRender: "router-link" }
        },
        {
          title: "内容海报",
          dataIndex: "vImage",
          scopedSlots: { customRender: "image" }
        },
        {
          title: "添加时间",
          dataIndex: "addTime",
          scopedSlots: { customRender: "timestamp13" }
        },
        {
          title: "操作",
          key: "operation",
          dataIndex: "id",
          scopedSlots: { customRender: "operation" }
        }
      ],
      loadData: [],
      // loading
      loading: false,
      // 映射接口
      map: {}
    };
  },
  created() {
    this.getMaps();
    this.fetch();
  },
  mounted() {
    let el = document.querySelectorAll(".ant-table-body>table>tbody")[0];
    const sortable = Sortable.create(el, {
      onEnd: evt => {
        let sendData = { channelId: this.channel_id };
        const { oldIndex, newIndex } = evt;
        if (oldIndex !== newIndex) {
          let target = this.loadData.splice(oldIndex, 1);
          this.loadData.splice(newIndex, 0, ...target);
        }
        setTimeout(() => {
          sendData.docIds = this.loadData.map(row => row.id).join(",");
          updatePosition(sendData).then(res => {
            if (res.status != 0) {
              this.$error(res.msg || "修改失败，请稍后再试。");
              return;
            }
            this.fetch();
          });
        }, 1);
      }
    });
  },
  methods: {
    /* ---------- 获取数据/后端搜索/分页 ---------- */
    fetch() {
      this.loading = true;
      getLinksList(
        Object.assign({ channel_id: this.channel_id }, this.listParam)
      ).then(res => {
        // input data
        this.loadData = res.data;
        this.loading = false;
      });
    },
    /* ---------- 获取映射表 ---------- */
    getMaps() {
      getChannelsMap(["channel"]).then(({ channelMap }) => {
        this.channelTitle =
          channelMap.filter(el => el.value == this.channel_id)[0].label ||
          "专栏名称";
      });
    },
    /* ---------- 操作 ---------- */
    remove(id) {
      removeContentFromChannel({
        channel_id: this.channel_id,
        id
      }).then(res => {
        if (res.status == 0) {
          this.$message.success("删除成功");
        } else {
          this.$message.error("删除失败，请稍后重试");
        }
        this.fetch();
      });
    },
    /* ---------- 标准流程 ---------- */
    // 使用映射表
    readFromList,
    // 搜索逻辑：
    queryFilter(queryData) {
      this.listParam.page = 1;
      if (queryData) {
        this.queryParam = queryData;
      }
      this.fetch();
    },
    // 清空搜索
    clearQuery() {
      this.queryParam = {
        channel_id: "1"
      };
      this.fetch();
    },
    // 后端分页逻辑
    tableChange(pagination, filters, sorter) {
      // console.log({ pagination, filters, sorter });
      if (pagination.current !== this.listParam.page) {
        this.listParam = {
          page: pagination.current,
          pageSize: pagination.pageSize
        };
        this.fetch();
      }
    },
    // 处理弹窗提交后关闭的数据刷新
    handleOk() {
      this.fetch();
    }
  },
  filters: { formatDate }
};
</script>

<style lang="less" scoped>
.image {
  display: inline-block;
  max-width: 100px;
  img {
    display: block;
    width: 100%;
  }
}

.activeBtn {
  @normal: #52c41a;
  @active: #389e0d;
  @hover: #73d13d;
  background-color: @normal;
  border-color: @normal;
  color: #fff;
  &:active {
    background-color: @active;
    border-color: @active;
  }
  &:hover {
    background-color: @hover;
    color: #fff;
    border-color: @hover;
  }
}
</style>
