<template>
  <!-- 专栏列表 -->
  <a-card :bordered="false">
    <div class="table-page-search-wrapper">
      <SearchForm
        :queryField="queryField"
        :queryParam="queryParam"
        @queryFilter="queryFilter"
        @clearQuery="clearQuery"
      ></SearchForm>
    </div>

    <div class="table-operator">
      <a-button type="primary" icon="plus" @click="$refs.createModal.add()"
        >添加专栏</a-button
      >
    </div>

    <a-table
      ref="table"
      :rowKey="row => row.channel_id"
      :columns="columns"
      :dataSource="loadData"
      :pagination="pagination"
      :loading="loading"
      @change="tableChange"
    >
      <template v-slot:name="name, row">
        <router-link
          :to="{ name: 'channelContents', params: { id: +row.channel_id } }"
          >{{ name }}</router-link
        >
      </template>
      <template v-slot:include_page="value">{{
        readFromList(value, map.includePageMap)
      }}</template>
      <template v-slot:channel_type="value">{{
        readFromList(value, map.channelTypeMap)
      }}</template>
      <template v-slot:content_padding="value">{{
        readFromList(value, map.paddingMap)
      }}</template>
      <template v-slot:ui_style="value">{{
        readFromList(value, map.uiStylesMap)
      }}</template>
      <template v-slot:channel_id="channel_id">
        <a-button type="primary" @click="$refs.createModal.edit(channel_id)"
          >编辑</a-button
        >
        <a-button
          v-if="$auth('channels.delete')"
          type="danger"
          @click="remove(channel_id)"
          >删除</a-button
        >
      </template>
    </a-table>

    <!-- 添加编辑专栏 -->
    <CreateChannel ref="createModal" @ok="handleOk" />
  </a-card>
</template>

<script>
import { getChannelsList, getChannelsMap, removeChannel } from "@/api/channels";
import SearchForm from "@/components/SearchForm";
import { readFromList } from "@/utils/common";
import CreateChannel from "./CreateChannel";

export default {
  name: "ChannelsManagment",
  components: { SearchForm, CreateChannel },
  data() {
    return {
      queryField: {
        name: {
          label: "专栏名称"
        }
      },
      // 查询参数
      queryParam: {},
      // 分页参数
      listParam: {
        page: 1,
        pageSize: 20
      },
      pagination: { pageSize: 20, total: 0 },
      // 表格
      columns: [
        {
          title: "专栏名称",
          dataIndex: "name",
          scopedSlots: { customRender: "name" }
        },
        {
          title: "所属页面",
          dataIndex: "include_page",
          scopedSlots: { customRender: "include_page" }
        },
        {
          title: "专栏类型",
          dataIndex: "channel_type",
          scopedSlots: { customRender: "channel_type" }
        },
        {
          title: "专栏填充",
          dataIndex: "content_padding",
          scopedSlots: { customRender: "content_padding" }
        },
        {
          title: "页面位置",
          dataIndex: "page"
        },
        {
          title: "排版样式",
          dataIndex: "ui_style",
          scopedSlots: { customRender: "ui_style" }
        },
        {
          title: "内容条目",
          dataIndex: "count",
          width: "5em"
        },
        {
          title: "操作",
          key: "operation",
          dataIndex: "channel_id",
          scopedSlots: { customRender: "channel_id" }
        }
      ],
      loadData: [],
      // loading
      loading: false,
      // 映射接口
      map: {}
    };
  },
  created() {
    this.getMaps();
    // this.fetch();
  },
  methods: {
    /* ---------- 获取数据/后端搜索/分页 ---------- */
    fetch() {
      this.loading = true;
      getChannelsList(Object.assign({}, this.listParam, this.queryParam)).then(
        res => {
          // input data
          this.loadData = res.pageBean.list;
          this.pagination.total = res.pageBean.allRow;
          this.loading = false;
        }
      );
    },
    /* ---------- 获取映射表 ---------- */
    getMaps() {
      getChannelsMap(["channelType", "padding", "uiStyle", "includePage"]).then(
        map => {
          this.map = map;
        }
      );
    },
    remove(cid) {
      removeChannel(cid).then(res => {
        if (res.status == 0) {
          this.$message.success("删除成功");
        } else {
          this.$message.error("删除失败，请稍后重试");
        }
        this.fetch();
      });
    },
    /* ---------- 标准流程 ---------- */
    // 使用映射表
    readFromList,
    // 搜索逻辑：
   queryFilter(queryData) {
      this.listParam.page = 1;
      if (queryData) {
        this.queryParam = queryData;
      }
      this.fetch();
    },
    // 清空搜索
    clearQuery() {
      this.queryParam = {};
      this.fetch();
    },
    // 后端分页逻辑
    tableChange(pagination, filters, sorter) {
      // console.log({ pagination, filters, sorter });
      if (pagination.current !== this.listParam.page) {
        this.listParam = {
          page: pagination.current,
          pageSize: pagination.pageSize
        };
        this.fetch();
      }
    },
    // 处理弹窗提交后关闭的数据刷新
    handleOk() {
      this.fetch();
    }
  }
};
</script>

<style lang="less" scoped>
.image {
  display: inline-block;
  max-width: 200px;
  img {
    display: block;
    width: 100%;
  }
}

.activeBtn {
  @normal: #52c41a;
  @active: #389e0d;
  @hover: #73d13d;
  background-color: @normal;
  border-color: @normal;
  color: #fff;
  &:active {
    background-color: @active;
    border-color: @active;
  }
  &:hover {
    background-color: @hover;
    color: #fff;
    border-color: @hover;
  }
}
</style>
